# PYTHON DAY 6

In [ ]:
#LIST Comprehension

l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)

In [6]:
l = [i for i in range(5) if i % 2 == 0]
l

[0, 2, 4]

In [7]:
# Traditional for Loop 
# for(set of values to iterate):
#     if(conditional filtering):
#         output_expression()

#Trasnlated to list comprehension:
# The same gets implemented in a simple LC construct in a single line as:
# [ output_expression() for(set of values to iterate) if(conditional filtering) ]

# [e**2 for e in a_list if type(e) == types.IntType]
# (e**2 --> output Expression)
# (e --> variable)
# (in a_list --> input sequence)
# (if type(e) == types.IntType --> optional predicate)

In [15]:
#Find all of the numbers from 1-1000 that are divisible by 7. 
l = [i for i in range(1000) if i % 7 == 0]
l

[0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

In [ ]:
#Find all of the numbers from 1-1000 that have a 3 in them

numbers_with_3 = [num for num in range(1, 1001) if '3' in str(num)]
numbers_with_3

[3,
 13,
 23,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 43,
 53,
 63,
 73,
 83,
 93,
 103,
 113,
 123,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 143,
 153,
 163,
 173,
 183,
 193,
 203,
 213,
 223,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 243,
 253,
 263,
 273,
 283,
 293,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 403,
 413,
 423,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 443,
 453,
 463,
 473,
 483,
 493,
 503,
 513,
 523,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 543,
 553,
 563,
 573,
 583,
 593,
 603,
 613,
 623,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 643,
 653,
 663,
 673,
 683,
 693,
 703,
 713,
 723,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 743,
 753,
 763,
 773,
 783,
 793,
 803,
 813,
 823,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 843,
 853,
 863,
 873,
 883,
 893,
 903,
 913,
 923,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 943,
 953,
 963,
 973,
 983,
 993]

In [ ]:
#Count the number of spaces in a string

str = "Python Week 2"
space_count = sum(1 for char in str if char == ' ')
print(space_count)

2

In [27]:
#Create a list of all the components in a string 
#"Yello Yaks like yelling and yawning and yesturday they yodled while eating yuky yams"

p = "Yello Yaks like yelling and yawning and yesturday they yodled while eating yuky yams"
l = [i for i in p.split()]
l

['Yello',
 'Yaks',
 'like',
 'yelling',
 'and',
 'yawning',
 'and',
 'yesturday',
 'they',
 'yodled',
 'while',
 'eating',
 'yuky',
 'yams']

In [37]:
#Get the index and the value as a tuple for item in the list
# "hi", 4, 8.99, 'apple', ('t,b', 'n')
#Result would look like (index, value), (index, value)

li = ["hi", 4, 8.99, 'apple', ('t,b', 'n')]
indx = [(index, value) for index, value in enumerate(indx)] # type: ignore
indx

[(0, (0, 'hi')),
 (1, (1, 4)),
 (2, (2, 8.99)),
 (3, (3, 'apple')),
 (4, (4, ('t,b', 'n')))]

In [34]:
li = ["hi", 4, 8.99, 'apple', ('t,b', 'n')]
indx = [(i, li[i]) for i in range(len(li))]
indx

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

In [35]:
#Find the common numbers in two lists (without using a tuple or set)
list_a = 1, 2, 3, 4
list_b = 2, 3, 4, 5

common = [i for i in list_a if i in list_b]
common

[2, 3, 4]

In [ ]:
# Get only the numbers in the sequence like
# "In 1984 there were 13 instances of a protest with over 1000 people attending"

para = "In 1984 there were 13 instances of a protest with over 1000 people attending"
res = [int(i) for i in para.split() if i.isdigit()]
res

[1984, 13, 1000]

In [48]:
#Given numbers = range(20), produce a list containing the word 'even' if a number in the numbers is even, and the word odd if the number is odd. Result would look like 'odd', 'odd', 'even'.

result = ['even' if num % 2 == 0 else 'odd' for num in range(20)]
result

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

In [52]:
#Produce a list of tuples consisting of only the matching numbers in these lists
list_a = 1, 2, 3, 4, 5, 6, 7, 8, 9
list_b = 2, 7, 1, 12
#Result would look like (4,4), (12,12)

list = [(i,i) for i in list_a if i in list_b]
list

[(1, 1), (2, 2), (7, 7)]

In [54]:
#Find all of the words in a string that are less than 4 letters.
strg = "In 1984 there were 13 instances of a protest with over 1000 people attending"
ans = [i for i in strg.split() if len(i) < 4]
ans

['In', '13', 'of', 'a']

In [55]:
#Use a nested list comprehension to find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9).
result = [num for num in range(1, 1000) if True in [True for x in range(2, 10) if num % x == 0]]
result

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 98,
 99,
 100,
 102,
 104,
 105,
 106,
 108,
 110,
 111,
 112,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 122,
 123,
 124,
 125,
 126,
 128,
 129,
 130,
 132,
 133,
 134,
 135,
 136,
 138,
 140,
 141,
 142,
 144,
 145,
 146,
 147,
 148,
 150,
 152,
 153,
 154,
 155,
 156,
 158,
 159,
 160,
 161,
 162,
 164,
 165,
 166,
 168,
 170,
 171,
 172,
 174,
 175,
 176,
 177,
 178,
 180,
 182,
 183,
 184,
 185,
 186,
 188,
 189,
 190,
 192,
 194,
 195,
 196,
 198,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 210,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 224,
 225,
 226,
 228,
 230,
 231,
 232,
 234,
 235,
 236,
 237,
 238,
 240,
 242,
 243,
 244,
 245,
 246,
 248,
 249,
 250,
 252,
 254,
 255,
 256,
 258,
 259,
 260,
 261,
 262,
 264,
 265,
 266,
 267,
 268,
 270,
 272,
 273,
 274,
 275,
 276,
 278,
 279,
 280,
 282,
 284,
 285,
 286,
 287,
 288,
 290,
 291,
 292,
 294,
 295,
 296,
 297,
 298,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 308,
 309,
 310,
 312,
 314,
 315,
 316,
 318,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 332,
 333,
 334,
 335,
 336,
 338,
 339,
 340,
 342,
 343,
 344,
 345,
 346,
 348,
 350,
 351,
 352,
 354,
 355,
 356,
 357,
 358,
 360,
 362,
 363,
 364,
 365,
 366,
 368,
 369,
 370,
 371,
 372,
 374,
 375,
 376,
 378,
 380,
 381,
 382,
 384,
 385,
 386,
 387,
 388,
 390,
 392,
 393,
 394,
 395,
 396,
 398,
 399,
 400,
 402,
 404,
 405,
 406,
 408,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 420,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 432,
 434,
 435,
 436,
 438,
 440,
 441,
 442,
 444,
 445,
 446,
 447,
 448,
 450,
 452,
 453,
 454,
 455,
 456,
 458,
 459,
 460,
 462,
 464,
 465,
 466,
 468,
 469,
 470,
 471,
 472,
 474,
 475,
 476,
 477,
 478,
 480,
 482,
 483,
 484,
 485,
 486,
 488,
 489,
 490,
 492,
 494,
 495,
 496,
 497,
 498,
 500,
 501,
 502,
 504,
 505,
 506,
 507,
 508,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 518,
 519,
 520,
 522,
 524,
 525,
 526,
 528,
 530,
 531,
 532,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 542,
 543,
 544,
 545,
 546,
 548,
 549,
 550,
 552,
 553,
 554,
 555,
 556,
 558,
 560,
 561,
 562,
 564,
 565,
 566,
 567,
 568,
 570,
 572,
 573,
 574,
 575,
 576,
 578,
 579,
 580,
 581,
 582,
 584,
 585,
 586,
 588,
 590,
 591,
 592,
 594,
 595,
 596,
 597,
 598,
 600,
 602,
 603,
 604,
 605,
 606,
 608,
 609,
 610,
 612,
 614,
 615,
 616,
 618,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 630,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 642,
 644,
 645,
 646,
 648,
 650,
 651,
 652,
 654,
 655,
 656,
 657,
 658,
 660,
 662,
 663,
 664,
 665,
 666,
 668,
 669,
 670,
 672,
 674,
 675,
 676,
 678,
 679,
 680,
 681,
 682,
 684,
 685,
 686,
 687,
 688,
 690,
 692,
 693,
 694,
 695,
 696,
 698,
 699,
 700,
 702,
 704,
 705,
 706,
 707,
 708,
 710,
 711,
 712,
 714,
 715,
 716,
 717,
 718,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 728,
 729,
 730,
 732,
 734,
 735,
 736,
 738,
 740,
 741,
 742,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 752,
 753,
 754,
 755,
 756,
 758,
 759,
 760,
 762,
 763,
 764,
 765,
 766,
 768,
 770,
 771,
 772,
 774,
 775,
 776,
 777,
 778,
 780,
 782,
 783,
 784,
 785,
 786,
 788,
 789,
 790,
 791,
 792,
 794,
 795,
 796,
 798,
 800,
 801,
 802,
 804,
 805,
 806,
 807,
 808,
 810,
 812,
 813,
 814,
 815,
 816,
 818,
 819,
 820,
 822,
 824,
 825,
 826,
 828,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 840,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 852,
 854,
 855,
 856,
 858,
 860,
 861,
 862,
 864,
 865,
 866,
 867,
 868,
 870,
 872,
 873,
 874,
 875,
 876,
 878,
 879,
 880,
 882,
 884,
 885,
 886,
 888,
 889,
 890,
 891,
 892,
 894,
 895,
 896,
 897,
 898,
 900,
 902,
 903,
 904,
 905,
 906,
 908,
 909,
 910,
 912,
 914,
 915,
 916,
 917,
 918,
 920,
 921,
 922,
 924,
 925,
 926,
 927,
 928,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 938,
 939,
 940,
 942,
 944,
 945,
 946,
 948,
 950,
 951,
 952,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 962,
 963,
 964,
 965,
 966,
 968,
 969,
 970,
 972,
 973,
 974,
 975,
 976,
 978,
 980,
 981,
 982,
 984,
 985,
 986,
 987,
 988,
 990,
 992,
 993,
 994,
 995,
 996,
 998,
 999]

In [58]:
#Dictionary Comprehension
d = {i: i**2 for i in range(10)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [64]:
#Convert two lists into a dictionary
#Task: Given keys = ['a', 'b', 'c'] and values = [1, 2, 3], create a dictionary using dict comprehension.

keys = ['a', 'b', 'c']
values = [1, 2, 3]
d = {keys[i]: values[i] for i in range(len(keys))}
d

{'a': 1, 'b': 2, 'c': 3}

In [66]:
# Invert a dictionary
# Task: Invert a dictionary, swap it's keys and values. 
# original = {'a' : 1, 'b' : 2, 'c' : 3}
# output = {1 : 'a', 2 : 'b', 3 : 'c'}
dict = {'a' : 1, 'b' : 2, 'c' : 3}
revdict = {v:k for k,v in dict.items()}
revdict

{1: 'a', 2: 'b', 3: 'c'}

In [67]:
#Count Occurences of characters in a word
#Task: Given a string, create a dictionary with character counts.
# word = "banana"
# Output: {'b' : 1, 'a': 3, 'n': 2}
item = "Supercalifragilisticexpialidocious"
char_count = {char: item.count(char) for char in set(item)}
print(char_count)

{'f': 1, 'd': 1, 'a': 3, 'e': 2, 'i': 7, 'x': 1, 'c': 3, 't': 1, 'g': 1, 's': 2, 'l': 3, 'p': 2, 'S': 1, 'r': 2, 'u': 2, 'o': 2}

In [2]:
# Merge two dictionaries (add values if keys match)
# Task: combine two dictionaries by adding values for common keys. 
d1 = {'a':5, 'b':3}
d1 = {'a':2, 'b':7, 'c': 4}
# output: {'a':7, 'b':10, 'c': 4}

from functools import reduce
d1 = {'a': 5, 'b': 3}
d2 = {'a': 2, 'b': 7, 'c': 4}

merged_dict = reduce(lambda d, k: {**d, k: d.get(k, 0) + d2.get(k, 0)}, d1.keys() | d2.keys(), {})
print(merged_dict)

{'a': 2, 'b': 7, 'c': 4}

In [3]:
#Mapping

#map(), filter(), reduce()
#map(func, iter)

l = [2,3,4,5]
a = []
for i in l:
    area = 3.14*i**2
    a.append(area)
area

78.5

In [ ]:
l = [2,3,4,5]
def area(a):
    return 3.14*a**2

list(map(area,l))

[12.56, 28.26, 50.24, 78.5]

In [5]:
list(map(lambda a:3.14*a**2,l))

[12.56, 28.26, 50.24, 78.5]

In [6]:
#filter(func, data)
l = [2,3,4,5,6,7,8]

list(filter(lambda a: a % 2 == 0, l))

[2, 4, 6, 8]

In [ ]:
#difference between filter and map and reduce

In [8]:
#reduce()
from functools import reduce
data = [2,3,5,7,11,13,17]
multiply = lambda x, y : x*y 
reduce(multiply, data)

510510

In [9]:
mul = 1
for x in data:
    mul = mul*x
mul

510510

In [10]:
city = ["", "chennai", "banglore", "pondicherry", "", "velachery"]
list(filter(None, city))

['chennai', 'banglore', 'pondicherry', 'velachery']

In [ ]:
############            MAP             ############

#Square each number in a list 
list(map(lambda a:a**2,l))

[4, 9, 16, 25, 36, 49, 64]

In [ ]:
#Covert a list of strings to uppercase 
strg = ["mumbai", "pune", "banglore", "chennai"]
list(map(lambda a : a.upper(), strg))

['MUMBAI', 'PUNE', 'BANGLORE', 'CHENNAI']

In [ ]:
#Add two lists element-wise 
l1 = [1, 2, 3, 4]
l2 = [5, 6, 7, 8]
list(map(lambda a,b : a+b, l1, l2))

[6, 8, 10, 12]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [10, 20, 30, 40, 50]
list3 = [100, 200, 300, 400, 500]
#Output = [111, 222, 333, 444, 555]
list(map(lambda a,b,c : a+b+c, list1, list2, list3))

[111, 222, 333, 444, 555]

In [9]:
############            FILTER             ############

#Filter even numbers from a list. 
list5 = [1, 2, 3, 4, 5, 6, 7, 8]
list(filter(lambda a: a % 2 == 0, list5))

[2, 4, 6, 8]

In [13]:
#Filter a list of words with Length > 4
li = ['apple', 'banana', 'mango', 'strawberry']
list(filter(lambda a: len(a) > 4, li))

['apple', 'banana', 'mango', 'strawberry']

In [17]:
#Filter out empty strings
city = ["", "chennai", "banglore", "pondicherry", "", "velachery"]
list(filter(None, city))

['chennai', 'banglore', 'pondicherry', 'velachery']

In [ ]:
#Filter prime numbers from a list

nums = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
def prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

list(filter(prime, nums))

[2, 3, 5, 7, 11, 13]

In [24]:
############            REDUCE             ############

#Concatenate a list of strings using reduce.

from functools import reduce
ls = ["G", "A", "U", "R", "I"]
reduce(lambda a, b: a+b, ls)

'GAURI'

In [29]:
#Find the maximum value from the list. 
nums = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
reduce(lambda x, y: x if x > y else y, nums)

15

In [ ]:
#HASH

In [30]:
import hashlib

hash('1,2,3')

-6595155914780434541

In [31]:
hash('1,2,3')

-6595155914780434541

In [32]:
hash('A,B,C')

-1451077919542883911

In [33]:
hash('A,B,C')

-1451077919542883911

In [34]:
hash('abc')

-271316533907355506

In [35]:
hash('abc')

-271316533907355506

In [36]:
hash("Abc")

-8029221531125627774

In [37]:
hash("ABc")

849720690011204647

In [38]:
print(hash('a'))

2537526723954161258

In [3]:
print(hash('a'))

751744354085382932

In [4]:
print(hash('a'))

751744354085382932

In [ ]:
from gettext import install

import django

pip: install-django # type: ignore

Defaulting to user installation because normal site-packages is not writeable
Collecting django
  Downloading Django-5.2-py3-none-any.whl.metadata (4.1 kB)
Collecting asgiref>=3.8.1 (from django)
  Downloading asgiref-3.8.1-py3-none-any.whl.metadata (9.3 kB)
Collecting sqlparse>=0.3.1 (from django)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Collecting tzdata (from django)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Downloading Django-5.2-py3-none-any.whl (8.3 MB)
   ---------------------------------------- 0.0/8.3 MB ? eta -:--:--
   - -------------------------------------- 0.4/8.3 MB 8.3 MB/s eta 0:00:01
   ---- ----------------------------------- 1.0/8.3 MB 10.1 MB/s eta 0:00:01
   ------- -------------------------------- 1.5/8.3 MB 10.7 MB/s eta 0:00:01
   --------- ------------------------------ 2.1/8.3 MB 10.9 MB/s eta 0:00:01
   ------------ --------------------------- 2.6/8.3 MB 11.1 MB/s eta 0:00:01
   --------------- ------------------------ 3.2/8.3 MB 11.3 MB/s eta 0:00:01
   ------------------ --------------------- 3.7/8.3 MB 11.3 MB/s eta 0:00:01
   -------------------- ------------------- 4.3/8.3 MB 11.4 MB/s eta 0:00:01
   ----------------------- ---------------- 4.8/8.3 MB 11.5 MB/s eta 0:00:01
   ------------------------- -------------- 5.4/8.3 MB 11.8 MB/s eta 0:00:01
   ---------------------------- ----------- 5.9/8.3 MB 11.8 MB/s eta 0:00:01
   ------------------------------- -------- 6.5/8.3 MB 11.5 MB/s eta 0:00:01
   --------------------------------- ------ 7.0/8.3 MB 11.8 MB/s eta 0:00:01
   ------------------------------------ --- 7.6/8.3 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------  8.1/8.3 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------  8.3/8.3 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------  8.3/8.3 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------  8.3/8.3 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------- 8.3/8.3 MB 9.8 MB/s eta 0:00:00
Downloading asgiref-3.8.1-py3-none-any.whl (23 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.4 kB ? eta -:--:--
   ------------------------------------ --- 41.0/44.4 kB ? eta -:--:--
   ---------------------------------------- 44.4/44.4 kB 551.2 kB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
   ---------------------------------------- 0.0/347.8 kB ? eta -:--:--
   ------------------------------------- - 337.9/347.8 kB 20.5 MB/s eta 0:00:01
   ---------------------------------------- 347.8/347.8 kB 3.6 MB/s eta 0:00:00
Installing collected packages: tzdata, sqlparse, asgiref, django
Successfully installed asgiref-3.8.1 django-5.2 sqlparse-0.5.3 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
pip: list # type: ignore

Package                 Version
----------------------- -----------
asgiref                 3.8.1
asttokens               3.0.0
colorama                0.4.6
comm                    0.2.2
debugpy                 1.8.13
decorator               5.2.1
Django                  5.2
executing               2.2.0
ipykernel               6.29.5
ipython                 9.0.2
ipython_pygments_lexers 1.1.1
jedi                    0.19.2
jupyter_client          8.6.3
jupyter_core            5.7.2
matplotlib-inline       0.1.7
nest-asyncio            1.6.0
packaging               24.2
parso                   0.8.4
pip                     24.0
platformdirs            4.3.7
prompt_toolkit          3.0.50
psutil                  7.0.0
pure_eval               0.2.3
Pygments                2.19.1
python-dateutil         2.9.0.post0
pywin32                 310
pyzmq                   26.3.0
six                     1.17.0
sqlparse                0.5.3
stack-data              0.6.3
tornado                 6.4.2
traitlets               5.14.3
tzdata                  2025.2
wcwidth                 0.2.13
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
#math module
import math
math.e

2.718281828459045

In [9]:
math.pi

3.141592653589793

In [19]:
x = 90
math.sin(math.radians(x))

1.0

In [20]:
x = 60
math.cos(math.radians(x))

0.5000000000000001

In [17]:
r = 5
area = math.pi*r**2
area

78.53981633974483

In [21]:
#Statistics module

#Using statistics module, min, max, mean, median, std deviation, variance of a list.

import statistics
li = [45, 78, 56, 23, 57, 84, 65, 34, 75, 94]
statistics.mean(li)

61.1

In [22]:
import statistics
li = [45, 78, 56, 23, 57, 84, 65, 34, 75, 94]
statistics.median(li)

61.0

In [23]:
import statistics
li = [45, 78, 56, 23, 57, 84, 65, 34, 75, 94]
statistics.median_low(li)

57

In [ ]:
from statistics import median
li = [45, 78, 56, 23, 57, 84, 65, 34, 75, 94]
statistics.median_high(li)

65

In [25]:
import statistics
li = [45, 78, 56, 23, 57, 84, 65, 34, 75, 94, 97]
statistics.median(li)

65

In [26]:
import statistics
li = [45, 78, 56, 23, 57, 84, 65, 34, 75, 94, 97]
statistics.median_low(li)

65

In [27]:
import statistics
li = [45, 78, 56, 23, 57, 84, 65, 34, 75, 94, 97]
statistics.median_high(li)

65

In [30]:
from statistics import mode
li = [78, 78, 56, 23, 97, 84, 65, 34, 65, 94, 97]
mode(li)

78

In [31]:
li = [45, 78, 56, 23, 57, 84, 65, 34, 75, 94, 97]
min(li)

23

In [32]:
max(li)

97

In [34]:
Range = max(li) - min(li)
Range

74

In [35]:
from statistics import variance
import fractions as fr 

data = [45, 78, 56, 23, 57, 84, 65, 34, 75, 94, 97]
variance(data)

576.0545454545454

In [37]:
from statistics import stdev

data = [45, 78, 56, 23, 57, 84, 65, 34, 75, 94, 97]
stdev(data)

24.00113633673509

In [38]:
#Random Module

#random.choice()
#random.choices()
#random.sample()
#random.seed()
#random.uniform()

In [39]:
import random

data = [23, 67, 45, 89, 12, 34, 78, 56, 90, 11]
random.choice(data)

23

In [40]:
random.choice(data)

90

In [43]:
random.choices(data, k=5)

[67, 67, 78, 56, 78]

In [42]:
random.choices(data)

[78]

In [45]:
data = [23, 67, 45, 89, 12, 34, 78, 56, 90, 11]
random.seed(90)
random.randint(1, 1000)

209

In [46]:
random.seed(90)
random.randint(1, 1000)

209

In [47]:
random.seed(45)
random.randint(1, 1000)

279

In [48]:
random.seed(90)
random.randint(1, 1000)

209

In [49]:
from random import sample
data = [23, 67, 45, 89, 12, 34, 78, 56, 90, 11]
random.sample(data, 6)

[67, 56, 12, 34, 45, 89]

In [66]:
from random import uniform
data = [23, 67, 45, 89, 12, 34, 78, 56, 90, 11]
random.uniform(1, 6)

1.3713993186815974

In [50]:
#os module
#get the  current working directory()
#change the directory()
#Rename a directory

In [53]:
import os
dir(os)

['DirEntry',
 'EX_OK',
 'F_OK',
 'GenericAlias',
 'Mapping',
 'MutableMapping',
 'O_APPEND',
 'O_BINARY',
 'O_CREAT',
 'O_EXCL',
 'O_NOINHERIT',
 'O_RANDOM',
 'O_RDONLY',
 'O_RDWR',
 'O_SEQUENTIAL',
 'O_SHORT_LIVED',
 'O_TEMPORARY',
 'O_TEXT',
 'O_TRUNC',
 'O_WRONLY',
 'P_DETACH',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_OVERLAY',
 'P_WAIT',
 'PathLike',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'TMP_MAX',
 'W_OK',
 'X_OK',
 '_AddedDllDirectory',
 '_Environ',
 '__all__',
 '__builtins__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_check_methods',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_get_exports_list',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'add_dll_directory',
 'altsep',
 'chdir',
 'chmod',
 'close',
 'closerange',
 'cpu_count',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fdopen',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fsync',
 'ftruncate',
 'get_blocking',
 'get_exec_path',
 'get_handle_inheritable',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getenv',
 'getlogin',
 'getpid',
 'getppid',
 'isatty',
 'kill',
 'linesep',
 'link',
 'listdir',
 'listdrives',
 'listmounts',
 'listvolumes',
 'lseek',
 'lstat',
 'makedirs',
 'mkdir',
 'name',
 'open',
 'pardir',
 'path',
 'pathsep',
 'pipe',
 'popen',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sep',
 'set_blocking',
 'set_handle_inheritable',
 'set_inheritable',
 'spawnl',
 'spawnle',
 'spawnv',
 'spawnve',
 'st',
 'startfile',
 'stat',
 'stat_result',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sys',
 'system',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'umask',
 'uname_result',
 'unlink',
 'unsetenv',
 'urandom',
 'utime',
 'waitpid',
 'waitstatus_to_exitcode',
 'walk',
 'write']

In [54]:
#current directory
os.getcwd()

'c:\\Users\\gauri.jindal\\Python'

In [55]:
# #to change directory
# os.chdir('c:\\Users\\gauri.jindal\\Python')
# print(os.getcwd())

In [56]:
#to view the files and folders
# print(os.listdir())

In [ ]:
#create new folder in directory
# os.mkdir('name')  #for single folder
# os.makedirs('python/submodule') #for directory tree

In [59]:
#delete folders
# os.rmdir('name')
# os.removedirs('python/submodule')

In [60]:
#rename
# os.rename('hello', 'hi')
# os.rename('demo.txt', 'text.txt')

In [61]:
#details
# print(os.stat('text.txt'))

In [62]:
# print(os.stat('text.txt').st_size)

In [63]:
# last modification time
# print(os.stat('text.txt').st_mtime)

In [64]:
#time stamp
# from datetime import datetime
# mod = os.stat('text.txt').st_mtime
# print(datetime.fromtimestamp(mod))

In [65]:
# entire directory

# import os
# for dirpath, dirnames, filenames in os.walk('D:/files'):
#     print("Current path: ", dirpath)
#     print("Directories: ", dirnames)
#     print("Files: ", filenames)
#     print()

In [67]:
os.getcwd()

'c:\\Users\\gauri.jindal\\Python'

In [68]:
#environ
# print(os.environ.get('C:/users/gauri/python'))

In [69]:
#creating file
# filepath = os.getcwd() + 'test.text'
# print(filepath)

In [70]:
#others
# print(os.path.basename('tmp/test.text'))

In [71]:
# print(os.path.dirname('tmp/test.txt'))

In [72]:
# print(os.path.split('tmp/test.text))

In [73]:
import time
print(time.ctime())

Mon Apr  7 16:29:16 2025

In [ ]:
print(time.time())  #time in seconds

1744023573.680987

In [75]:
print(time.localtime())

time.struct_time(tm_year=2025, tm_mon=4, tm_mday=7, tm_hour=16, tm_min=29, tm_sec=55, tm_wday=0, tm_yday=97, tm_isdst=0)

In [78]:
time.sleep(2)
print("Hello")

Hello

In [79]:
print(time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))

2025-04-07 16:31:43

In [80]:
start_time = time.perf_counter()
time.sleep(3)
end_time = time.perf_counter()
end_time-start_time

3.0005282999773044

In [5]:
#timeit

import timeit

#time to check if 500 is in a list
list_time = timeit.timeit(stmt="500 in my_list", 
                          setup="my_list = list(range(1000))", 
                          number = 10000 )

#time to check if 500 is in a list
set_time = timeit.timeit(stmt="500 in my_set", 
                         setup="my_set = set(range(1000))", 
                         number = 10000 )

print("List lookup: ", list_time)
print("Set lookup: ", set_time)

List lookup:  0.04144480000002204
Set lookup:  0.0003974999999627471

In [6]:
def test():
    return sum([i for i in range(10000)])

import timeit
print(timeit.timeit(test, number=10000))

4.49686029999998

In [17]:
#Calculate the time required to complete a process.

import time

start_time = time.perf_counter()

# for i in range(5):
#     if i%2 == 0:

print("Time Testing")

time.sleep(8)

end_time = time.perf_counter()
print(end_time-start_time)

Time Testing
8.000611299999946

In [19]:
import time

start_time = time.time()

for i in range(5):
    if i%2 == 0:
        print("Time Testing")

time.sleep(5)

end_time = time.time()
print(end_time-start_time)

Time Testing
Time Testing
Time Testing
5.001588582992554

In [ ]:
#Display the current time every second.

import time

while True:
    print(time.strftime("%H:%M:%S", time.localtime()))

In [4]:
#Create a simple stopwatch.

import time

def stopwatch():
    print("Press Enter to start the stopwatch")
    input()
    start_time = time.time()
    print("Stopwatch started. Press Enter to stop.")
    input()
    end_time = time.time()
    elapsed_time = end_time - start_time
    print(f"Elapsed time: {elapsed_time} seconds")

stopwatch()

Press Enter to start the stopwatch
Stopwatch started. Press Enter to stop.
Elapsed time: 11.200542211532593 seconds

In [ ]:
#DateTime

#Current time

from datetime import datetime

print(datetime.now().time())

17:39:00.139890

In [8]:
#Days until a specific date.

from datetime import datetime

def days_until(target_date):

    current_date = datetime.now().date()

    delta = target_date - current_date
    
    return delta.days

target_date = datetime(2025, 12, 31).date()
days_remaining = days_until(target_date)

print(f"Days until {target_date}: {days_remaining}")

Days until 2025-12-31: 268

In [12]:
#Convert a user input from yyyy-mm-dd to dd-mm-yyyy

from datetime import datetime

def convert_date_format(date_str):

    date_obj = datetime.strptime(date_str, "%Y-%m-%d")
    formatted_date = date_obj.strftime("%d-%m-%Y")
    return formatted_date

user_input = "2023-09-15"
converted_date = convert_date_format(user_input)
print(f"Converted Date: {converted_date}")

Converted Date: 15-09-2023

In [ ]:
######################               RANDOM                    ###########################

# Random data generator for testing

# Description: Create a script that generates fake data for 10 users. Each user should have:
#     A random full Name 
#     A random age between 18 to 60
#     A random 10-digit phone  number 
#     A random email based on their name

# Store the data in a dictionary

# PYTHON DAY 7

In [1]:
#File Handling

In [ ]:
#file modes
#'r' ---> read
#'w' ---> write
#'a' ---> append
#'r+' ---> read/write
#'w+' ---> read/write

# f = open('demo.txt', 'r')
# print(f.read(10))
# print(f.readline())
# print(f.readline())  # to read second line
# print(f.readlines())  # 
# f.close()

In [6]:
f = open('demo1.txt', 'w')  # creates a file with write only and not read
f.write("Hello World\n")
f.write("Hello Python\n")
f.close()

In [ ]:
f = open('demo1.txt', 'w')  # Overwrites the previous content, in order to add use append.
f.write("Java\n")
f.write("C++\n")
f.close()

In [9]:
f = open('demo1.txt', 'w')
f.writelines(["Hello World\n", "Hello Python\n"])
f.close()

In [ ]:
f = open('demo1.txt', 'a')
f.write("Hello Folks\n")
f.write("Welcome To Chennai\n")
f.close()

In [11]:
f = open('demo1.txt', 'a+')  
f.write("Hello Folks\n")
f.write("Welcome To Chennai\n")
print(f.read())
f.close()

In [13]:
f = open('demo1.txt', 'a+')  
f.write("Hello ABC\n")
print(f.tell())
f.write("Welcome To Chennai\n")
f.seek(0)
print(f.read())
f.close()

135
Hello World
Hello Python
Hello Folks
Welcome To Chennai
Hello Folks
Welcome To Chennai
Hello ABC
Welcome To Chennai
Hello ABC
Welcome To Chennai

In [14]:
# f = open('demo1.txt', 'w+')

# s = f.read()
# f.close()

f = open('demo3.txt', 'a')
f.close()

In [ ]:
f = open('demo2.txt', 'x')   #With the help of w, a and x a new file can be created.
f.close()

In [20]:
with open('demo1.txt', 'r') as f:
    # with open('new_txt.txt', 'w') as w:
    #     w.write(f.read)
    print(f.read())
print(f.closed)

Hello World
Hello Python
Hello Folks
Welcome To Chennai
Hello Folks
Welcome To Chennai
Hello ABC
Welcome To Chennai
Hello ABC
Welcome To Chennai

True

In [21]:
import datetime

now = datetime.datetime.now()  #Get the current date and time

log_message = f"Log entry created at {now} : This is a log message."  #Create a log message

with open("demo2.txt", "a") as file:  #Open the log file in the append mode
    file.write(log_message + "\n")  #Write the log message to the file

print("Log entry has been written to the log file.") #Print a message

Log entry has been written to the log file.

In [22]:
lines = ["Hello, World!", "Python is great.", "File handling is easy."]

with open("example.txt", "w") as file:
    l = [line + "\n" for line in lines]
    file.writelines(l)

In [42]:
import json
#json file contains data in key: value

# with open('data.json', 'r') as j:
#     d = json.load(j)

# print(type(d))

d = {"Name": "Gauri",
     "School": "SCSE",
     "Address": "Chennai",
     "Age": 23,
     "Phone": 9211420786
    }
j_obj = json.dumps(d)

print(j_obj)

with open('new.json', 'w') as w:
    json.dump(d, w)

{"Name": "Gauri", "School": "SCSE", "Address": "Chennai", "Age": 23, "Phone": 9211420786}

In [29]:
with open('new.json', 'w') as w:
    json.dump(d, w, indent=4) #data, file

In [40]:
d = {"Name": "Gauri",
     "School": "SCSE",
     "Address": "Chennai",
     "Age": 23,
     "Phone": 9211420786,
    }
j_obj = json.dumps(d)  #TO CONVERT A PYTHON OBJECT TO JSON OBJECT
p_obj = json.loads(j_obj) #JSON OBJECT TO PYTHON OBJECT

print(j_obj)
print(p_obj)

{"Name": "Gauri", "School": "SCSE", "Address": "Chennai", "Age": 23, "Phone": 9211420786}
{'Name': 'Gauri', 'School': 'SCSE', 'Address': 'Chennai', 'Age': 23, 'Phone': 9211420786}

In [ ]:
with open('new.json', 'w') as w:
    json.dump(d, w, indent=4, sort_keys=True) #data, file #Write into a file

    #sort_keys is used for getting the data in alphabetical order.

In [44]:
#Update a json file

with open('new.json', 'r') as f:
    d = json.load(f)
print(d)
d["Pincode"] = 600042

with open('new.json', 'w') as w:
    json.dump(d, w, indent=4)

{'Name': 'Gauri', 'School': 'SCSE', 'Address': 'Chennai', 'Age': 23, 'Phone': 9211420786, 'Pincode': 600042}

In [45]:
with open('new.json', 'r') as f:
    d = json.load(f)
print(d)
d["Language"] = ""

with open('new.json', 'w') as w:
    json.dump(d, w, indent=4)

{'Name': 'Gauri', 'School': 'SCSE', 'Address': 'Chennai', 'Age': 23, 'Phone': 9211420786, 'Pincode': 600042}

In [50]:
with open('new.json', 'w',encoding='utf-8') as w:
    json.dump(d, w, indent=4, ensure_ascii=False)

In [53]:
new_employee = {
    "employee": {
        "id": 102,
        "name": "Ravi",
        "department": "IT",
        "skills": ["Communication", "Recruitment"],
        "address": {
            "city": "Mumbai",
            "zip": "400005"
        }
    }
}
with open('new_employee.json', 'w') as f:
    json.dump(new_employee, f, indent=4)

d = {}

In [60]:
#read the emp skills
#print it one by one

skills = new_employee['employee']['skills']

for skill in skills:
    print(skill)

Communication
Recruitment

In [17]:
#Change the zipcode and add a new skill

In [73]:
import csv

data = [['Name', 'Age', 'City'],
        ['Alice', 10, 'New York'],
        ['Bob', 11, 'New York'],
        ['John', 12, 'London']
        ]

with open('people.csv', 'w', newline='') as c:
    writer = csv.writer(c)
    writer.writerows(data)

In [69]:
#csv file

with open('people.csv', 'r') as c:
    reader = csv.reader(c)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['Alice', '10', 'New York']
['Bob', '11', 'New York']
['John', '12', 'London']

In [70]:
with open('people.csv', 'r') as c:
    reader = csv.reader(c)
    print(next(reader))
    print(next(reader))

['Name', 'Age', 'City']
['Alice', '10', 'New York']

In [ ]:
print(reader)  #returns csv object

<_csv.reader object at 0x000001E52BCC0580>

In [72]:
with open('people.csv', 'r') as c:
    reader = csv.reader(c)
    print(list(reader))

[['Name', 'Age', 'City'], ['Alice', '10', 'New York'], ['Bob', '11', 'New York'], ['John', '12', 'London']]

In [74]:
l = [['Dave', 11, 'New York'],
     ['Max', 12, 'London']
    ]

with open('people.csv', 'a', newline='') as c:
    writer = csv.writer(c)
    writer.writerows(l)

In [77]:
with open('people.csv', 'r') as c:
    reader = csv.reader(c)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['Alice', '10', 'New York']
['Bob', '11', 'New York']
['John', '12', 'London']
['Dave', '11', 'New York']
['Max', '12', 'London']

In [78]:
print(reader)

<_csv.reader object at 0x000001E52BD5A440>

In [79]:
with open('people.csv', 'r') as c:
    reader = csv.reader(c)
    print(next(reader))
    print(next(reader))
    print(next(reader))
    print(next(reader))
    print(next(reader))
    print(next(reader))

['Name', 'Age', 'City']
['Alice', '10', 'New York']
['Bob', '11', 'New York']
['John', '12', 'London']
['Dave', '11', 'New York']
['Max', '12', 'London']

In [80]:
with open('people.csv', 'r') as c:
    reader = csv.reader(c)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['Alice', '10', 'New York']
['Bob', '11', 'New York']
['John', '12', 'London']
['Dave', '11', 'New York']
['Max', '12', 'London']

In [81]:
info = [
    ['Name', 'Gender', 'Age', 'Course'],
    ['Gauri', 'F', 22, 'B.Tech'],
    ['Maitrayee', 'F',15 , '12th'],
    ['Anay', 'M', 13, '9th']
]

with open('student.csv', 'w', newline='') as d:
    writer = csv.writer(d)
    writer.writerows(info)

In [82]:
with open('people.csv', 'r') as c:
    reader = csv.DictReader(c)
    print(list(reader))
    for row in reader:
        print(row['Name'], row['Age'], row['City'])

[{'Name': 'Alice', 'Age': '10', 'City': 'New York'}, {'Name': 'Bob', 'Age': '11', 'City': 'New York'}, {'Name': 'John', 'Age': '12', 'City': 'London'}, {'Name': 'Dave', 'Age': '11', 'City': 'New York'}, {'Name': 'Max', 'Age': '12', 'City': 'London'}]

In [85]:
print(type(reader))

<class 'csv.DictReader'>

In [101]:
li=[]
with open('people.csv', 'r') as c:
    reader = csv.reader(c)
    for row in reader:
        li.append(row)

    with open('student.csv', 'r') as g:
        reader2 = csv.reader(g)
        next(reader2)
        for row2 in reader2:
            li.append(row2)

        with open('info.csv', 'a', newline= "") as j:
            writer = csv.writer(j)
            writer.writerows(li)

In [90]:
with open('info.csv', 'a', newline= "") as j:
        writer = csv.writer(j)
        writer.writerows(info)

In [89]:
with open('people.csv', 'r') as c:
    reader = csv.reader(c)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['Alice', '10', 'New York']
['Bob', '11', 'New York']
['John', '12', 'London']
['Dave', '11', 'New York']
['Max', '12', 'London']
['Name', 'Gender', 'Age', 'Course']
['Gauri', 'F', '22', 'B.Tech']
['Maitrayee', 'F', '15', '12th']
['Anay', 'M', '13', '9th']

In [104]:
print(type(info))

<class 'list'>

In [110]:
val = [
    {'Name': 'Bob', 'Age': '11', 'City': 'New York'},
    {'Name': 'John', 'Age': '12', 'City': 'London'},
    {'Name': 'Dave', 'Age': '11', 'City': 'New York'},
    {'Name': 'Max', 'Age': '12', 'City': 'London'}
    ]
 
with open ('people1.csv','w', newline='') as w: 
    writer=csv.DictWriter(w,fieldnames=['Name', 'Age', 'City'])
 
    writer.writeheader()
 
    writer.writerows (val)
 
with open('people1.csv', 'w', newline='') as w:
    writer = csv.DictWriter(w, fieldnames=['Name', 'Age', 'City'])
    writer.writeheader()
    writer.writerows(val)

In [113]:
import csv   #Adding Column
fields = ['Name', 'Branch', 'Year', 'CGPA']
rows = [
    ['Nikhil', 'COE', '2', '9.0'],
    ['Sanchi', 'COE', '2', '9.1'],
    ['Aditya', 'IT', '2', '9.3'],
    ['Sagar', 'SE', '1', '9.5'],
    ['Prateek', 'MCE', '3', '9.0']
]
 
with open('people1.csv', 'w') as r:
    csvwriter = csv.writer(r, dialect='excel')
    csvwriter.writerows(fields)
    csvwriter.writerows(rows)

In [114]:
#YAML File

In [119]:
import yaml

In [ ]:
#pip install pyyaml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyyaml in c:\users\gauri.jindal\appdata\roaming\python\python312\site-packages (6.0.2)
Note: you may need to restart the kernel to use updated packages.

In [120]:
data = {
    "Name": "Desktop",
    "Version": 1.2,
    "Users": ['John', 'Max']
}

with open('project.yaml', 'w') as w:
    yaml.dump(data, w)

In [ ]:
with open('project.yaml', 'w') as w:
    yaml.dump(data, w, sort_keys=True)  #By default sort_keys is true in yaml but false in json.

In [123]:
with open('project.yaml', 'r') as r:
    yaml.safe_load(r)
    print(data)

{'Name': 'Desktop', 'Version': 1.2, 'Users': ['John', 'Max']}

In [124]:
#Nested Yaml

data = {
    'employee': {
        'name': 'Alice',
        'age': 30,
        'contact': {
            'email': 'alice@yahoo.com',
            'phone': '9211720486'
        },
        'skills': ['Python', 'Django', 'SQL']
    }
}

with open('employee.yaml', 'w') as file:
    yaml.dump(data, file, sort_keys= False)

In [125]:
# json to yaml
# yaml to json

In [129]:
with open('data.json', 'r') as jfile:
    jf = json.load(jfile)

with open('data.yaml', 'w') as yfile:
    yaml.dump(jf, yfile, sort_keys=True)

In [131]:
with open('project.yaml', 'r') as yf:
    yl = yaml.safe_load(yf)

with open('project.json', 'w') as jfl:
    json.dump(yl, jfl)

In [132]:
# https://github.com/python123-dev/python_file_task

In [138]:
# File Handling

# Text File

# 1. Write and Read a File
# Task:
# Create a text file called data.txt. Write the following lines into it:

# Python is awesome
# File handling is powerful
# Practice makes perfect

# Then read and print the content of the file.

f = open('data.txt', 'w')
f.write("Python is Awesome!\n")
f.write("File Handling is Powerful\n")
f.write("Practice makes a Woman Perfect\n")

31

In [139]:
with open('data.txt', 'r') as datafile:
    exp = datafile.read()

    print(exp)

Python is Awesome!
File Handling is Powerful
Practice makes a Woman Perfect

In [146]:
# 2. Count Number of Words in a File
# Task:
# Open a file and count how many words it contains.

with open('demo1.txt', 'r') as a:
    sample = a.read()
    space = sample.split()
    print(len(space))

24

In [109]:
# 3. Search for a Word in a File
# Task:
# Ask the user for a word, search for that word in the file, and print the line(s) where it's found.

search_word = input().strip().lower()
 
# Open the file and search for the word
with open('data.txt', 'r') as file:
    lines = file.readlines()
 
# Print the lines where the word is found
for line in lines:
    if search_word in line:
        print(line.strip())

Python is Awesome!
File Handling is Powerful

In [110]:
# 4. Copy Content from One File to Another
# Task:
# Copy the content from data.txt to copy.txt.

with open('data.txt', 'r') as c:
    content = c.read()

    with open('copy.txt', 'w') as n:
        m = n.writelines(content)

In [111]:
# 5. Append to a File
# Task:
# Append a new sentence to the end of data.txt without overwriting existing content.

with open('data.txt', 'a') as txtfile:
    txtfile.write("Hii")

In [112]:
# 6. Display File Content in Reverse
# Task:
# Read all lines from the file and print them in reverse order.

with open('copy.txt', 'r') as exp:
    data = exp.readlines()
    for line in reversed(data):
        print(line.strip())

Hii
Practice makes a Woman Perfect
File Handling is Powerful
Python is Awesome!

In [9]:
# 7. Remove Blank Lines
# Task:
# Create a new file that contains all the lines from the original file except blank lines.

with open('demo2.txt', 'r') as file:
    read = file.readlines()

blank = [line for line in read if line.strip()]

with open('black.txt', 'w') as newfile:
    new = newfile.writelines(blank)
    print(new)

None

In [21]:
# 8. Write Random Numbers to File
# Task:
# Use the random module to write 100 random integers to a file (one per line).

In [ ]:
# 9. Sum of Numbers in a File
# Task:
# Read all numbers from the file you created above and print their sum.

In [ ]:
# 10. Line Numbering
# Task:
# Read a file and print each line preceded by its line number, like:
# 1: Python is awesome
# 2: File handling is powerful

In [ ]:
# 11. Count the Occurrence of each words from a text file.

In [ ]:
# 12. Write a file handling code with seek() and tell().

In [ ]:
# Json file

# 1. Write a Dictionary to a JSON File
# Task:
# Create a Python dictionary and write it to a file called data.json.

# 2. Read JSON Data from a File
# Task:
# Read the JSON data from data.json and print each key-value pair.

# 3. Update JSON Data in a File
# Task:
# Add a new key "location": "Bangalore" to the existing JSON data and write it back to the same file.

# 4. Pretty Print JSON Data
# Task:
# Read a JSON file and print its contents in a readable/indented format.

# 5. Convert JSON to Python Object and Back
# Task:
# Convert a JSON string into a Python dictionary and then back into a JSON string.

# 6. Work with Nested JSON
# Task:
# Read a file with nested JSON
# Write a nested JSON file

# 7. Merge Two JSON Files
# Task:
# Load two JSON files and merge their contents into a new file.

# 8. Count Entries(items) in a JSON Array

# 9. Remove a Key from JSON File
# Task:
# Remove the key "age" from the JSON file if it exists.

# 10.Flatten a Nested JSON
# Task:
# Write a function to flatten a nested dictionary. For example:

# {
#   "user": {
#     "name": "Alice",
#     "address": {
#       "city": "Mumbai",
#       "pin": 400001
#     }
#   }
# }
# Should become:

# {
#   "user.name": "Alice",
#   "user.address.city": "Mumbai",
#   "user.address.pin": 400001
# }

# PYTHON DAY 8

In [5]:
#Exception Handling

In [69]:
# print(10/0)
# print("Hello")

In [7]:
try:
    print(10/0)
except Exception as e:
    print("Something is wrong!", e)
print("Hello")

Something is wrong! division by zero
Hello

In [8]:
try:
    print(10/0)
except ZeroDivisionError as e:
    print("Something is wrong!", e)
print("Hello")

Something is wrong! division by zero
Hello

In [9]:
try:
    print(10/5)
except ZeroDivisionError as e:
    print("Something is wrong!", e)
print("Hello")

2.0
Hello

In [22]:
try:
    print(10/5)
    # var = var1
except ZeroDivisionError as e:
    print("Something is wrong!", e)
except NameError as e:
    print(e)
except ValueError as e:
    print(e)
print("Hello")

2.0
Hello

In [71]:
try:
    f = open('study.txt')
except FileNotFoundError as e:
    print(e)
finally:  #will run even the try block contains an error.
    f.close()

[Errno 2] No such file or directory: 'study.txt'

In [16]:
try:
    f = open('study.txt')
except FileNotFoundError as e:
    print(e)
finally:  #will run even the try block contains an error.
    pass

[Errno 2] No such file or directory: 'study.txt'

In [ ]:
#else

try:
    print(10/2)
except:
    print('error')
else:
    print("Hello")  #only runs if try is ture, not run in case try is false.

5.0
Hello

In [19]:
#try
#except
#else
#Finally

In [20]:
try:
    pass
except Exception:
    pass
else:
    pass
finally:
    pass

In [ ]:
try:
    f = open('test.txt', 'r')
except Exception:
    print("Sorry, File not found!")

Sorry, File not found!

In [23]:
try:
    f = open('test.txt', 'r')
    # var = bad_var
except Exception:
    print("Sorry, FIle Not Found!")

Sorry, FIle Not Found!

In [75]:
# try:
#     # f = open('test.txt', 'r')
#     # var = bad_var
# # except FileNotFoundError:
#     print("Sorry, FIle Not Found!")

In [ ]:
# #maintain the order of exception

# try:
#     f = open('test.txt', 'r')
#     # var = bad_var
# except Exception:
#     print("Sorry, Something is Wrong!")
# except FileNotFoundError:
#     print("Sorry, File Not Found!")

Sorry, Something is Wrong!

In [24]:
#maintain the order of exception

# try:
#     # f = open('test.txt', 'r')
#     var = bad_var
# except FileNotFoundError:
#     print("Sorry, File Not Found!")
# except Exception:
#     print("Sorry, Something is Wrong!")

In [34]:
try:
    f = open('copy.txt', 'r')
    # var = bad_var
except FileNotFoundError:
    print("Sorry, File Not Found!")
except Exception:
    print("Sorry, Something is Wrong!")
else:
    print("Bye!")

Bye!

In [37]:
#Finally runs no matter what happens, helps us to close or release the resources
try:
    f = open('test.txt', 'r')
    f.close()
except FileNotFoundError as e:
    print(e)
except Exception as e:
    print(e)
else:
    print(f.read())
finally:
    print("Finally")

[Errno 2] No such file or directory: 'test.txt'
Finally

In [38]:
values = [10, 5, 6, 0, 9, 8, 2]

for value in values:
    try:
        print(10/value)
    except:
        pass

1.0
2.0
1.6666666666666667
1.1111111111111112
1.25
5.0

In [39]:
values = [10, 5, 6, 0, 9, 8, 2]

for value in values:
    try:
        print(10/value)
    except:
        continue

1.0
2.0
1.6666666666666667
1.1111111111111112
1.25
5.0

In [40]:
values = [10, 5, 6, 0, 9, 8, 2]

for value in values:
    try:
        print(10/value)
    except:
        break

1.0
2.0
1.6666666666666667

In [76]:
values = [10, 5, 6, 0, 9, 8, 2]

for value in values:
    try:
        # print(10/value)
        print(int("Hello"))
    except ValueError as e:
        print(e)

invalid literal for int() with base 10: 'Hello'
invalid literal for int() with base 10: 'Hello'
invalid literal for int() with base 10: 'Hello'
invalid literal for int() with base 10: 'Hello'
invalid literal for int() with base 10: 'Hello'
invalid literal for int() with base 10: 'Hello'
invalid literal for int() with base 10: 'Hello'

In [ ]:
import logging
logging.basicConfig(filename='error.log', level= logging.ERROR)
values = [10, 5, 6, 0, 9, 8, 2]

for value in values:
    try:
        print(10/value)
        print(int("Hello"))
    except ValueError as e:
        print(e)
    except Exception as e:
        logging.exception(e)

1.0
invalid literal for int() with base 10: 'Hello'
2.0
invalid literal for int() with base 10: 'Hello'
1.6666666666666667
invalid literal for int() with base 10: 'Hello'
1.1111111111111112
invalid literal for int() with base 10: 'Hello'
1.25
invalid literal for int() with base 10: 'Hello'
5.0
invalid literal for int() with base 10: 'Hello'

In [46]:
values = [10, 5, 6, 0, 9, 8, "Hello", 2]

for value in values:
    try:
        print(10/int(value))

    except (ValueError, ZeroDivisionError) as e:
        print("ValueError or ZeroDivisionError")
    
    except Exception as e:
        print(e)

1.0
2.0
1.6666666666666667
ValueError or ZeroDivisionError
1.1111111111111112
1.25
ValueError or ZeroDivisionError
5.0

In [48]:
try:
    x = 5
    y =10
    assert x > y, "x should be greater than y"

except AssertionError as error:
    print(error)

x should be greater than y

In [ ]:
try:              #Attribute Error
    my_str = "Hello! World"
    my_str.sort()
except AttributeError:
    print("Error: string object has no attribute 'sort'!")
print("Hello")

Error: string object has no attribute 'sort'!
Hello

In [ ]:
try:                   #Index Error
    my_list = [1, 2, 3]
    print(my_list[3])
except IndexError:
    print("Error: Index out of range!")
print("hello")

Error: Index out of range!
hello

In [77]:
my_list = [1, 2, 3]
# print(my_list[3])
print("hello")

hello

In [ ]:
try:
    my_dict = {'Name': 'Alice', 'Age': 23}  #Key Error only occurs in Dictionary.
    print(my_dict["height"])
except KeyError:
    print("Error: Key not found in Dictionary!")
print("hello")

Error: Key not found in Dictionary!
hello

In [58]:
try:
    my_list = [0] * (10**9)
    print(my_list[3])
except MemoryError:
    print("Error: Not Enough Memory Available!")
print("hello")

0
hello

In [25]:
# try:
#     print(my_var)
# except NameError:
#     print("Error: Variable Not Defined!")

In [61]:
try:
    with open('nonexistent_file.txt') as f:
        contents = f.read()
    print(my_list[3])
except OSError:
    print("Error: Could Not Open File!")

Error: Could Not Open File!

In [62]:
try:
    eval("x = 5")
except SyntaxError:
    print("Error: Invalid Syntax!")

Error: Invalid Syntax!

In [63]:
try:
    exec('print(')
except SyntaxError:
    print("Error: Invalid Syntax!")

Error: Invalid Syntax!

In [64]:
try:
    result = 5 + "Hello"
except TypeError:
    print("Error: unsupported operand type(s) for +: 'int' and 'str' ")

Error: unsupported operand type(s) for +: 'int' and 'str'

In [65]:
try:
    n = int("Hello")
except ValueError:
    print("Error: Couldn't convert string into integer")

Error: Couldn't convert string into integer

In [66]:
import sys

a = [2, 4, 6, 'a', 8, 0]
for i in a:
    try:
        c = 2/i
        print(c)
    except:
        print('error', sys.exc_info())

1.0
0.5
0.3333333333333333
error (<class 'TypeError'>, TypeError("unsupported operand type(s) for /: 'int' and 'str'"), <traceback object at 0x0000029E208A1FC0>)
0.25
error (<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero'), <traceback object at 0x0000029E208A2080>)

In [67]:
import sys

a = [2, 4, 6, 'a', 8, 0]
for i in a:
    try:
        c = 2/i
        print(c)
    except:
        print('error', sys.exc_info()[0])

1.0
0.5
0.3333333333333333
error <class 'TypeError'>
0.25
error <class 'ZeroDivisionError'>

In [68]:
import sys

randomList = ['a', 0, '2']

In [78]:
try:
    print(10/2)
    raise ValueError
except:
    print("Error")
else:
    print("Hello")

5.0
Error

In [84]:
try:
    print(10/2)
    raise ValueError
except:
    print("Error")
else:
    print("Hello")

n = -5
# if n < 0:
    # raise ValueError('n should be +pos')

5.0
Error

In [85]:
n = 5
if n < 0:
    raise ValueError('n should be +pos')

In [87]:
n = -5
try:
    if n < 0:
        raise ValueError('n should be +pos')
except ValueError as e:
    print(e)

n should be +pos

In [89]:
def get_item(lst, index):
    if index >= len(lst):
        raise IndexError("Index out of range")
    return lst[index]

try:
    print(get_item([10, 20, 30], 5))
except IndexError as e:
    print("Caught: ", e)

Caught:  Index out of range

In [90]:
def multiply(a, b):
    if not isinstance(a, (int, float)) or not isinstance(b, (int,float)):
        raise TypeError("Both arguements must be numbers")
    return a + b

try:
    result = multiply(3, "four")
except TypeError as e:
    print("Error:", e)

Error: Both arguements must be numbers

In [92]:
def check_scores(scores):
    for score in scores:
        if score < 0 or score > 100:
            raise ValueError(f"Invalid Score: {score}")
    return "All scores are valid"

try:
    check_scores([85, 90, -5, 100])
except ValueError as e:
    print("Caught: ", e)

Caught:  Invalid Score: -5

In [44]:
values = [10, 5, 6, 0, 9, 8, "Hello", 2]

for value in values:
    try:
        # print(10/int(value))
    # except ZeroDivisionError as e:
        pass
    except ValueError as e:
        print("Hello World")
        raise ValueError("Value Error") #reraise - exception
    except Exception as e:
        print(e)

In [103]:
try:
    print('Try Outside')
    try:
        print("Try Inside")
    except:
        print("Except Inside")
    finally:
        print("Finally Inside")
except:
    print("Except Outside")
finally:
    print("finally Outside")

Try Outside
Try Inside
Finally Inside
finally Outside

In [104]:
try:
    print('Try Outside')
    print(10/0)
    try:
        print("Try Inside")
    except:
        print("Except Inside")
    finally:
        print("Finally Inside")
except:
    print("Except Outside")
finally:
    print("finally Outside")

Try Outside
Except Outside
finally Outside

In [105]:
try:
    print('Try Outside')
    try:
        print("Try Inside")
        print(10/0)
    except:
        print("Except Inside")
    finally:
        print("Finally Inside")
except:
    print("Except Outside")
finally:
    print("finally Outside")

Try Outside
Try Inside
Except Inside
Finally Inside
finally Outside

In [106]:
try:
    print('Try Outside')
    try:
        print("Try Inside")
        print(10/0)
    finally:
        print("Finally Inside")
except:
    print("Except Outside")
finally:
    print("finally Outside")

Try Outside
Try Inside
Finally Inside
Except Outside
finally Outside

In [1]:
#User Defined Exception

#Step-1: Define a custom exception by inheriting from Exception
class CustomError(Exception):
    pass

#Step-2: Use it in a function or logic
def check_positive(number):
    if number < 0:
        raise CustomError("Number must be positive!")
    else:
        print("Valid number: ", number)

#Step-3: Handle it using try-except
try:
    num = int(input("Enter a number: "))
    check_positive(num)
except CustomError as e:
    print("Caught CustomError: ", e)

Caught CustomError:  Number must be positive!

In [3]:
# try:
#     raise Exception("Outer")
# except Exception as e:
#     try:
#         raise Exception("Inner")
#     except:
#         pass
#     raise

In [4]:
''' Guidelines for Exception-Safe Functions
Use try-except inside the funcction to handle expected errors. 

Raise meaningful exceptions if the function can't complete it's job. 

Use default values

Log errors if needed. 

Don't hide bugs silently - handle only what you expect. '''

import json
import os

def load_config(file_path):
    try:
        # Check if file exists
        if not os.path.isfile(file_path):
            raise FileNotFoundError(f"File not found: {file_path}")

        # Load JSON data
        with open(file_path, 'r') as file:
            config = json.load(file)

        # Validate essential keys
        required_keys = ['host', 'port', 'username']
        for key in required_keys:
            if key not in config:
                raise ValueError(f"Missing required key: {key}")

        # Validate types
        if not isinstance(config['port'], int):
            raise TypeError("Port must be an integer")

        return config

    except FileNotFoundError as fnf:
        print("File error:", fnf)
    except json.JSONDecodeError as jde:
        print("Invalid JSON format:", jde)
    except (ValueError, TypeError) as ve:
        print("Validation error:", ve)
    except Exception as e:
        print("Unexpected error:", e)

    return None

# --- Example usage ---
config = load_config("config.json")
if config:
    print("Valid config loaded:", config)
else:
    print("Failed to load valid config.")

File error: File not found: config.json
Failed to load valid config.

In [33]:
# 1. Divide Two Numbers
# - Input two numbers.
# - Handle ZeroDivisionError and ValueError.

a = int(input())
b = int(input())

try:
    c = a/b
    print(c)

except ZeroDivisionError:
    print("Caught: Division by zero is not allowed.")

except ValueError:
    print("Caught: Invalid input. Please enter valid integers.")

0.0

In [62]:
# 2. File Reader
# - Try opening a file.
# - Handle FileNotFoundError.

try:
    with open('numb.txt', 'r') as file:
        f = file.read()
        print(f)

except FileNotFoundError as e:
    print(e)

[Errno 2] No such file or directory: 'numb.txt'

In [70]:
# 3. List Index Access
# - Access a list index given by the user.
# - Handle IndexError and ValueError.

val = [10, 20, 'g', 75, 84, 96, 34, 62, "Python"]

try:
        print(int(val[int(input())]))
        # print(int(val[8]))
except IndexError as e:
    print("Index not in range.")
except ValueError as e:
    print("Caught: ", {e})

Caught:  {ValueError("invalid literal for int() with base 10: 'g'")}

In [74]:
# 4. String to Integer Conversion
# - Convert a user-given string to an integer.
# - Handle ValueError.

str = input()

try:
    i = int(str)
    print(i)
except ValueError as e:
    print(e)

65

In [79]:
# 5. Open a Nonexistent File
# - Read a file that may or may not exist.
# - Handle FileExistsError.

try:
    with open('num1.txt', 'x') as f:
        g = f.close()
except FileExistsError as e:
    print(e)

[Errno 17] File exists: 'num1.txt'

In [ ]:
# 6. Nested Try-Except
# - Perform multiple operations (file, division, list access).
# - Use nested try-except.

In [89]:
# 7. Use of Else and Finally
# - Create a program that uses try-except-else-finally together.

a = int(input())
b = int(input())

try:
    c = a/b
except ZeroDivisionError as e:
    print("Division by Zero Error")
except ValueError as e:
    print(e)
else:
    print("Division Successfull, result is :", c)
finally:
    print("Program Executed!")

Division by Zero Error
Program Executed!

In [6]:
# 8. Raise Custom Exceptions
# Python Exception Handling Tasks
# - Create a custom exception for 'Negative Age'.
# - Raise it if the user enters a negative number.

age = int(input())
try:
    if age < 0:
        raise ValueError('Age should be +pos')
except ValueError as e:
    print(e)
else:
    print("Age is:",age)

Age is: 56

In [83]:
# 9. Form Validation
# - Validate a form with name, age, and email.
# - Raise custom exceptions for invalid inputs.

In [84]:
# 10. User Registration System
# - Ask for username and password.
# - Raise exception for weak password or duplicate username.

In [20]:
#Network Module
#Database connectivity module
#Multi-Threading module
#MongoDB Module

#HackerRank
#HackerEarth

In [8]:
while True:
    try:
        num = int(input("Enter a valid Integer:"))
        print(f"You entered: {num}")
        break   #Exits the loop if input is valid
    except ValueError:
        print("That's not a valid integer. Please try again.")

That's not a valid integer. Please try again.
You entered: 0

In [ ]:
''' Write a function, which takes a non-negative integer (seconds) as input and returns the time  in a human readable format(HH:MM:SS)

HH = hours, padded to 2 digits, range: 00-99
MM = minutes, padded t 2 digits, range: 00-59
SS = seconds, padded to 2 digits, range: 00-59
The maximum time never exceeds 359999 (99:59:59)


make_readable(0), "00:00:00"
make_readable(59), "00:00:59"
make_readable(60), "00:01:00"
make_readable(3599), "00:59:59"
make_readable(3600), "01:00:00"
make_readable(86399), "23:59:59"
make_readable(86400), "24:00:00"
make_readable(359999), "99:59:59" '''

'Write a function, which takes a non-negative integer (seconds)\nas input and returns the time  in a human readable format(HH:MM:SS)\nHH = hours, padded to 2 digits, range: 00-99\nMM = minutes, padded t 2 digits, range: 00-59\nSS = seconds, padded to 2 digits, range: 00-59\nThe maximum time never exceeds 359999 (99:59:59)\n\n\n\nmake_readable(0), "00:00:00"\nmake_readable(59), "00:00:59"\nmake_readable(60), "00:01:00"\nmake_readable(3599), "00:59:59"\nmake_readable(3600), "01:00:00"\nmake_readable(86399), "23:59:59"\nmake_readable(86400), "24:00:00"\nmake_readable(359999), "99:59:59"\n'

In [29]:
def make_readable(seconds):
    if not (0 <= seconds <= 359999):
        raise ValueError("Seconds should be between 0 and 359999")
    
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    secs = seconds % 60

    return f"{hours:02}: {minutes:02}: {secs:02}"

n = int(input())

print(make_readable(n))

99: 59: 59

# PYTHON DAY 9

In [1]:
#Command Line Arguements

import sys
print("Hello")
print(sys.argv)

print(sys.argv[0]) #pynew_args.py 1 2 3 4
print(sys.argv[1:])

print(f'file name{sys.argv[0]}')

Hello
['C:\\Users\\gauri.jindal\\AppData\\Roaming\\Python\\Python312\\site-packages\\ipykernel_launcher.py', '--f=c:\\Users\\gauri.jindal\\AppData\\Roaming\\jupyter\\runtime\\kernel-v3144997e6f11be049500865fab0cf923615517d37.json']
C:\Users\gauri.jindal\AppData\Roaming\Python\Python312\site-packages\ipykernel_launcher.py
['--f=c:\\Users\\gauri.jindal\\AppData\\Roaming\\jupyter\\runtime\\kernel-v3144997e6f11be049500865fab0cf923615517d37.json']
file nameC:\Users\gauri.jindal\AppData\Roaming\Python\Python312\site-packages\ipykernel_launcher.py