# PYTHON DAY 1

In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello!")

Hello!

In [ ]:
a = input()
123

In [ ]:
a= 1, 2, 3, 5 #pack
print(a)

(1, 2, 3, 5)

In [ ]:
data='abc', 10, 12.5
print(data)

('abc', 10, 12.5)

In [ ]:
name, age, wei = data
print(name)
print(age)
print(wei)

abc
10
12.5

In [ ]:
age = 14
print(type(wei))

<class 'float'>

In [ ]:
s=str(a)
print(str(age))

14

In [ ]:
s=str(a)
print(type(s))

<class 'str'>

In [ ]:
s = str(a)
type(s)

str

In [ ]:
type(wei)

float

In [ ]:
f=int(wei) #converting float to int

In [ ]:
print(f)

12

In [ ]:
print(data)

('abc', 10, 12.5)

In [ ]:
print(1,2,3,4,5)

1 2 3 4 5

In [ ]:
print(1,2,3,4,5, sep="/")

1/2/3/4/5

In [ ]:
print("Hello")
print("World")

Hello
World

In [ ]:
print("Hello", end="!")
print("World")

Hello!World

In [ ]:
#OPERATORS

#Arithematic + - * / % // (returns int) ** (power)

a = 10
b = 2

print(a//b)

5

In [ ]:
a = 10
b = 3
print(a//b)

3

In [ ]:
a = "10"
print(a*5)

1010101010

In [ ]:
a  = 10
print(a*5)

50

In [ ]:
x = 10
y = 12

print("x > y is", x > y)
print(x<y)
print(x==y)
print(x!=y)
print(x>=y)
print(x<=y)

x > y is False
True
False
True
False
True

In [ ]:
x = True
y = False
print("x and y is", x and y)
print("x or y is", x or y)
print("not y is", not y)

x and y is False
x or y is True
not y is True

In [ ]:
name = "abc"
std = "8th"
print(name, "is studying in", std)

abc is studying in 8th

In [ ]:
print(f'{name} is studying in {std}')

abc is studying in 8th

In [ ]:
print("abc's parent")

abc's parent

In [ ]:
#formula
#conversion
#simple interest
#compound interest

In [ ]:
base = 25
height = 50
print("The area of the parallellogram is:", base*height)

The area of the parallellogram is: 1250

In [ ]:
r = 5
print("The area of the circle is:", 3.14*(r**2))

The area of the circle is: 78.5

In [ ]:
celcius = 0
ferenheit = (celcius * 9/5) + 32
print(f'{celcius}C is {ferenheit}F')

0C is 32.0F

In [ ]:
P = 1000
R = 10
T = 2
SI = P*R*T/100
A = P+SI
print(f'Principle {P} amounts to {A} at a rate of {R}% in {T} years')

Principle 1000 amounts to 1200.0 at a rate of 10% in 2 years

In [ ]:
p = 5000
r = 15
t= 3
a=p*((1+r/100)**t)
c=a-p
print(c)

2604.374999999999

In [ ]:
a = 10
a += 5  # a = a + 5

In [ ]:
ord('A') #ASCII Value

65

In [ ]:
bin(65) #Binary string as a binary value

'0b1000001'

In [ ]:
chr(65) # Character of the ASCII Value

'A'

In [ ]:
n = 101
s = 'One Hundred And One'

s1 = "100"

s+s1

'One Hundred And One100'

In [ ]:
s[::-1]

'enO dnA derdnuH enO'

In [ ]:
s[3:8]

' Hund'

In [ ]:
s[0:3:9]

'O'

In [ ]:
len(s)

19

In [ ]:
s[:len(s)]

'One Hundred And One'

In [ ]:
A="Corporation"
print(len(A))

11

In [ ]:
city="chennai"
print(city.capitalize())

Chennai

In [ ]:
str="Welcome"
print(str.center(15,'*'))

****Welcome****

In [ ]:
str = "mammals"
str.find('ma')

0

In [ ]:
str = "mammals"
str.find('ma',2)

3

In [ ]:
str = "mammals"
str.find('ma',2,4)

-1

In [ ]:
"One" not in s

False

In [ ]:
"One" is s

<>:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
C:\Users\gauri.jindal\AppData\Local\Temp\ipykernel_16732\880638850.py:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  "One" is s

False

In [ ]:
"One" in s

True

In [ ]:
n=5
m=10
print(n is n)

True

In [ ]:
n=10
m=10
n is m

True

In [ ]:
n is not m

False

In [ ]:
n is m

True

In [ ]:
#bitwise operator
a = 8
b = 5
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(~b)

0
13
13
-9
-6

In [ ]:
print(a ^ b)

4

In [ ]:
a = 3
b = 7
print(a ^ b)

4

In [ ]:
a = 6
b = 9
print(a ^ b)

15

In [ ]:
a = 3 +4j
type(a)

complex

In [ ]:
# Input: '123456789'
# Output: '123498765'

str = '123456789'
s3 = str[4:9]
print(str[0:4] + s3[::-1])

123498765

In [ ]:
#CONDITIONAL STATEMENTS

a = 50
b = 10
if a < b:
    print(f'{b} is greater than {a}.')
else:
    print(f'{a} is greater than {b}')
    
print("Hello!")

50 is greater than 10
Hello!

In [ ]:
num = 0

if num > 0:
    print("+")
elif num < 0:
    print("-")
else:
    print("0")

0

In [ ]:
a= 10
b = 20
c = 30

In [ ]:
p = 8000
r = 25
t = 4

SI = (p*r*t)/100
CI = p*(1 + r/100)**t

if (SI < CI):
    print("SI is better.")
else:
    print("CI is better.")

SI is better.

In [ ]:
str = 'A'

if( str == 'a' or str == 'e' or str == 'i' or str == 'o' or str == 'u'):
    print(f'{str} is a vowel')
else:
    print(f'{str} is a consonant')

A is a consonant

In [ ]:
s='A'
s1='aeiouAEIOU'
if(s in s1):
    print("Vowel")
else:
    print("Consonant")

Vowel

In [ ]:
marks = input("enter Marks:")

if(marks.isdigit()):
    marks = int(marks)
    if marks >= 90:
        print("A")
    elif marks <= 90 and marks >= 80:
        print("B")
    elif marks == 80 & marks >= 70:
        print("C")
    elif marks == 70 & marks >= 75:
        print("D")
    elif marks == 75 & marks >= 80:
        print("B")

In [ ]:
#LOOPS

#for _ in range()

type(range(5))

range

In [ ]:
for _ in range(5):
    print('HELLO')

HELLO
HELLO
HELLO
HELLO
HELLO

In [ ]:
for i in range(10):
    print(i, "Hello")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

In [ ]:
for i in range(1, 11):
    print(f' 5 * {i} = {5*i}')

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50

In [ ]:
for i in range(5):
    print(i,"Hello")
else:
    print("End")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
End

In [ ]:
for i in "Hello":
    print(i,"Hello")
else:                      # executed when the for loop returns false
    print("End")

H Hello
e Hello
l Hello
l Hello
o Hello
End

In [ ]:
strg = input("Enter String:")
s1 = 'aeiouAEIOU'
count=0
for i in strg:
    if(i in s1):
        count += 1
print(count)

3

In [ ]:
# Count the prime numbers from 1 to 50
count = 0
for i in range(1,50):
    if i > 1:
        for j in range(2, i):
            if(i % j == 0):
                break
        else:
            print(i, end=" ")
            count += 1
print()
print(count)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47
15

In [ ]:
#Armstrong Number
n = int(input("Enter number : "))
temp = n
a=len(str(n))
sum = 0
while(n > 0):
    rem = n % 10
    sum+=rem**a
    n = n // 10
if(temp == sum):
    print("It is an armstrong number")
else:
    print("Not an Armstrong Number")

It is an armstrong number

# PYTHON DAY 2

In [ ]:
#Array
#Data Structures
#List - []
#Tuple - ()
#dict-{key:Value}
#set-{}

In [2]:
#list
lis=[1,3.14, 'str', True, []]
print(lis)

[1, 3.14, 'str', True, []]

In [3]:
lis[2]

'str'

In [4]:
lis[2] = 'abc'
lis

[1, 3.14, 'abc', True, []]

In [8]:
#Slice
l = [100, 120, 130, 140, 130, 110]
l[2:4]

[130, 140]

In [11]:
l = [100, 120, 130, 140, 130, 110]
print(l[2:4])
print(l[-3])
print(l[:])
print(l[::-1])
print(len(l))
print(l.count(130))

[130, 140]
140
[100, 120, 130, 140, 130, 110]
[110, 130, 140, 130, 120, 100]
6
2

In [ ]:
city=['chennai-vadapalani', 'mumbai', 'delhi']
city[0][8:]

# 0 Chennai
# 1 Mumbai
# 2 Delhi

print(city[0][8:])
print(len(city[0][8:]))
print(len(city[1]))
print(city[0][1:4])

vadapalani
10
6
hen

In [ ]:
li = [[1,2], ['abc', 'xyz', [999, 888]]]
li[1][2][0]

999

In [19]:
li = [[1,2], ['abc', 'xyz', [999, 888]]]
li[1][2][0] = 1000
li

[[1, 2], ['abc', 'xyz', [1000, 888]]]

In [30]:
l = [100, 120, 130, 140, 130, 110]
l.append(777)
l.insert(3,333) #index, value
print(l)
print(779 in l)
num = l.index(777)
num

[100, 120, 130, 333, 140, 130, 110, 777]
False

7

In [42]:
print(l)

[100, 120, 130, 130, 110]

In [43]:
l.remove(130) # to remove the known value from the list
print(l)
l.pop(2) #delete the value at an index
print(l)

#delete
l.clear()
print(l)

[100, 120, 130, 110]
[100, 120, 110]
[]

In [44]:
l = [100, 120, 130, 140, 130, 110]
l.extend([111, 222])
l

[100, 120, 130, 140, 130, 110, 111, 222]

In [45]:
l = l + [550, 660]
l

[100, 120, 130, 140, 130, 110, 111, 222, 550, 660]

In [ ]:
l[::-2] #prints half the length of the list in reverse order

[660, 222, 110, 140, 120]

In [47]:
s = ['re', 'rd']*3
s

['re', 'rd', 're', 'rd', 're', 'rd']

In [48]:
num = [1,2,3,4,5,6,7,8,9,10]
num2 = [1,2,3,4,5,10,9,8,7,6]

In [53]:
#prime number from append

prime = []
for i in range(1,50):
    if i > 1:
        for j in range(2, i):
            if(i % j == 0):
                break
        else:
            prime.append(i)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [104]:
#Tuple-()

t = (0, 9, 7)
# t[0] = 999 TypeError: 'tuple' object does not support item assignment

In [56]:
t = (0, 9, 7)
t

(0, 9, 7)

In [57]:
l = list(t)
l

[0, 9, 7]

In [58]:
t2 = tuple(l)
t2

(0, 9, 7)

In [65]:
t2 = (1, 2, 3, [2, 3, 5])
t2[-1][1] = 222
t2

(1, 2, 3, [2, 222, 5])

In [66]:
#tim sort

In [ ]:
#SI & CI

name = ['gauri', 'ankita', 'mahima', 'vishal', 'seenu']
p = [1000, 2000, 3000, 4000, 5000]
r = [10, 15, 20, 25, 30]
t = [1, 2, 3, 4, 5]
si = []
ci = []
for i in range (5):
    a1 = (p[i]*r[i]*t[i])/100
    si.append(a1)
    print(f'{name[i]} got an interest of {si[i]}')

gauri got an interest of 100.0
ankita got an interest of 600.0
mahima got an interest of 1800.0
vishal got an interest of 4000.0
seenu got an interest of 7500.0

In [105]:
# Given an array of integers nums and target, return indices of the two numbers such that they add up to the target. You may assume that each input would have exactly one solution and you may not use the same element twice.

def two_sum(nums, target):
    num_to_index = {}
    for index, num in enumerate(nums):
        complement = target - num
        if complement in num_to_index:
            return [num_to_index[complement], index]
        num_to_index[num] = index

nums = [2, 7, 11, 15]
target = 9
print(two_sum(nums, target))

[0, 1]

In [77]:
a = [3,4]
b = a
b += [5,6]
print(a)
print(b)

[3, 4, 5, 6]
[3, 4, 5, 6]

In [78]:
#Py core
#OOPs
#DSA
#SQL (DBMS/RDBMS)
#Testing
#Robo
#Numpy
#Pandas

In [ ]:
#copy - shallow copy (directly points to the original variable)

a = [3,4]

b = a.copy()
b += [5,6]
print(a)
print(b)

[3, 4]
[3, 4, 5, 6]

In [80]:
a = [3,4, [999,888]]
b = a.copy()

b[2].append(1000)
print(b)
print(a)

[3, 4, [999, 888, 1000]]
[3, 4, [999, 888, 1000]]

In [83]:
print(id(a))
print(id(b))

2083121355136
2083128397696

In [82]:
print(id(a[0]))
print(id(b[0]))

140723865655800
140723865655800

In [87]:
import copy
a = [3,4, [999,888]]
b = copy.deepcopy(a)

b[2].append(1000)
print(b)
print(a)

print(id(a[2]))
print(id(b[2]))

[3, 4, [999, 888, 1000]]
[3, 4, [999, 888]]
2083126846016
2083126848768

In [88]:
print(id(a[0]))
print(id(b[0]))

140723865655800
140723865655800

In [89]:
#Dictionary

d = {'name': "abc", 'std':8, 'height':5.5}
#single key: value-dict item
d['key'] = 'value'
d

{'name': 'abc', 'std': 8, 'height': 5.5, 'key': 'value'}

In [90]:
d = {'name': "abc", 'std':'ABB', 'height':5.5, 'name': 'ABB'}
print(d)

{'name': 'ABB', 'std': 'ABB', 'height': 5.5}

In [91]:
d['name']

'ABB'

In [92]:
d.get('name')

'ABB'

In [ ]:
#create user defined list, tuple and dictionary.

In [125]:
# Creating a user-defined list
user_list = [1, 2, 3, 4, 5]
print(user_list)

[1, 2, 3, 4, 5]

In [126]:
# Creating a user-defined tuple
user_tuple = (1, 2, 3, 4, 5)
print(user_tuple)

(1, 2, 3, 4, 5)

In [127]:
# Creating a user-defined dictionary
user_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
print(user_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [128]:
#Take two list and convert it to the dictionary.

keys = ['name', 'age', 'city']
values = ['Alice', 25, 'New York']

user_dict = dict(zip(keys, values))

print(user_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [95]:
k = ['name', 'age', 'std']
v = ['abc', 10, '5th']

z = zip(k,v)
print(dict(z))

{'name': 'abc', 'age': 10, 'std': '5th'}

In [100]:
k = ['name', 'age', 'std']
v = ['abc', 10, '5th']

z = zip(k,v)
dict(z)

{'name': 'abc', 'age': 10, 'std': '5th'}

In [97]:
k = ['name', 'age', 'std']
v = ['abc', 10, '5th']

z = tuple(zip(k,v))
z

(('name', 'abc'), ('age', 10), ('std', '5th'))

In [98]:
d = {'name': "abc", 'std':'ABB', 'height':5.5, 'name': 'ABB'}
print(d)
print(d.keys())
print(d.values())

{'name': 'ABB', 'std': 'ABB', 'height': 5.5}
dict_keys(['name', 'std', 'height'])
dict_values(['ABB', 'ABB', 5.5])

In [99]:
d = {'name': "abc", 'std':'ABB', 'height':5.5, 'name': 'ABB'}
print(d)
print(d.keys())
print(d.values())
print(d.items())

{'name': 'ABB', 'std': 'ABB', 'height': 5.5}
dict_keys(['name', 'std', 'height'])
dict_values(['ABB', 'ABB', 5.5])
dict_items([('name', 'ABB'), ('std', 'ABB'), ('height', 5.5)])

In [110]:
d={}
l = ['name', 'age', 'gender', 'height', 'weight', 'occupation', 'contact', 'dob', 'address', 'blood group' ]
for i in l:
    v = len(i)
    d[i]=v
d

{'name': 4,
 'age': 3,
 'gender': 6,
 'height': 6,
 'weight': 6,
 'occupation': 10,
 'contact': 7,
 'dob': 3,
 'address': 7,
 'blood group': 11}

In [113]:
#Create a para of 50 words, check the occurences of each word.
p = "The sun set over the horizon, casting a warm, golden glow across the tranquil lake. Birds chirped softly as they settled into their nests, and a gentle breeze rustled the leaves of the trees. It was a perfect evening, filled with the peaceful sounds of nature and the promise of a restful night."
ans=p.split()
d={}
for i in ans:
    if i not in d:
        d[i]=1
    else:
        d[i]+=1
print(d)

{'The': 1, 'sun': 1, 'set': 1, 'over': 1, 'the': 6, 'horizon,': 1, 'casting': 1, 'a': 4, 'warm,': 1, 'golden': 1, 'glow': 1, 'across': 1, 'tranquil': 1, 'lake.': 1, 'Birds': 1, 'chirped': 1, 'softly': 1, 'as': 1, 'they': 1, 'settled': 1, 'into': 1, 'their': 1, 'nests,': 1, 'and': 2, 'gentle': 1, 'breeze': 1, 'rustled': 1, 'leaves': 1, 'of': 3, 'trees.': 1, 'It': 1, 'was': 1, 'perfect': 1, 'evening,': 1, 'filled': 1, 'with': 1, 'peaceful': 1, 'sounds': 1, 'nature': 1, 'promise': 1, 'restful': 1, 'night.': 1}

In [118]:
#clear, #delete, pop
people = {1: {'name':4, 'age':3, 'height': 6},
2:['name', 'age', 'std'],  # type: ignore
3:('name', 'age', 'std')} # type: ignore
people[1]['age']

3

In [117]:
people[2][2]

'std'

In [120]:
people[4]={'zero':0}
people

{1: {'name': 4, 'age': 3, 'height': 6},
 2: ['name', 'age', 'std'],
 3: ('name', 'age', 'std'),
 4: {'zero': 0}}

In [109]:
d = {'a':5, 'b':15, 'c':25, 'd':8}
d1 = {}
a = d.values()

In [140]:
n = int(5.5)
print(n)

5

In [106]:
n = int(input('Enter a float: '))
n

5

In [143]:
d = {'a':5, 'b':15, 'c':25, 'd':8}
d1 = {}
a = d.values()
print(min(a))
print(max(a))

5
25

In [145]:
#set-{}

l = [1, 1, 3, 3, 5, 5, 6]
set(l)

{1, 3, 5, 6}

In [ ]:
#Set Union Method
A = {1,2,3,4,5}
B = {4,5,6,7,8}

#use | Operator

print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [148]:
# use union function
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [149]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {7,8,9,1,2}

#use | Operator

print(A|B|C)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#Intersection use & Operator
#A.intersection(B)
A&B
#A.intersection(B).intersection(C)

set()

In [156]:
# Set Difference (- or .difference)
A.difference(B)

{1, 2, 3}

In [ ]:
A - B

{1, 2, 3}

In [158]:
B - A

{6, 7, 8}

In [159]:
# SET Symmetric Difference (^ or .symmetric_difference)

A^B

{1, 2, 3, 6, 7, 8}

In [160]:
B.symmetric_difference(C)

{1, 2, 4, 5, 6, 9}

In [161]:
A.issubset(B)

False

In [162]:
A.issuperset(B)

False

In [163]:
B.issubset(A)

False

In [166]:
D = {1, 2, 3}
E = {1, 2, 3, 4, 6}
D.issubset(E)

True

In [ ]:
D.issuperset(E)  # >=

False

In [168]:
E.issuperset(D)

True

In [175]:
a = {10, 20, 30}
b = {20, 40, 60}
c = {20, 50, 80}

print(a&b&c)
#print(b&c)

{20}

In [3]:
p = "The sun set over the horizon, casting a warm, golden glow across the tranquil lake. Birds chirped softly as they settled into their nests, and a gentle breeze rustled the leaves of the trees. It was a perfect evening, filled with the peaceful sounds of nature and the promise of a restful night."
ans=p.split()
# d={}
ans

['The',
 'sun',
 'set',
 'over',
 'the',
 'horizon,',
 'casting',
 'a',
 'warm,',
 'golden',
 'glow',
 'across',
 'the',
 'tranquil',
 'lake.',
 'Birds',
 'chirped',
 'softly',
 'as',
 'they',
 'settled',
 'into',
 'their',
 'nests,',
 'and',
 'a',
 'gentle',
 'breeze',
 'rustled',
 'the',
 'leaves',
 'of',
 'the',
 'trees.',
 'It',
 'was',
 'a',
 'perfect',
 'evening,',
 'filled',
 'with',
 'the',
 'peaceful',
 'sounds',
 'of',
 'nature',
 'and',
 'the',
 'promise',
 'of',
 'a',
 'restful',
 'night.']

In [188]:
s = 'Hello World'
v = 'aeiouAEIOU'
strg = ''
for i in s:
    if i in v:
        continue
    else:
        strg += i
print(strg)

Hll Wrld

In [1]:
#Dict -
#Set -
#Tuple - 
#List -

In [129]:
#Divide w/o using operator

def divide(dividend, divisor):
    if divisor == 0:
        raise ValueError("Divisor cannot be zero.")
    
    quotient = 0
    remainder = abs(dividend)
    abs_divisor = abs(divisor)
    
    while remainder >= abs_divisor:
        remainder -= abs_divisor
        quotient += 1
    
    # Adjust the sign of the quotient based on the signs of the inputs
    if (dividend < 0 and divisor > 0) or (dividend > 0 and divisor < 0):
        quotient = -quotient
    
    return quotient

print(divide(10, 2))
print(divide(7, -3)) 
print(divide(-15, 5)) 
print(divide(0, 1))

5
-2
-3
0

# PYTHON DAY 3

In [7]:
n = 0
while n<5 :      #declaration
    print("Hello!")
    n += 1  #Update counter

Hello!
Hello!
Hello!
Hello!
Hello!

In [9]:
n = 0
while n<5 :      #declaration
    print("Hello!")
    n += 1  #Update counter
else:
    print("END")

Hello!
Hello!
Hello!
Hello!
Hello!
END

In [11]:
#break
for i in 'Python':
    if i == 'h':
        print(i)
        break

h

In [19]:
for i in 'Python':
    if i == 'h':
        break
    print(i)

P
y
t

In [21]:
for i in 'Python':
    if i == 'h':
        print(i)
    break

In [ ]:
#continue  ---> Bypass statement
for i in 'Python':
    if i == 'h':
        continue
    print(i)

P
y
t
o
n

In [97]:
#pass
#for i in 'python':   
    # never leave a block with empty statement, use pass instead

In [25]:
#pass
for i in 'python':
    pass

In [100]:
class fun:
    pass

In [29]:
for i in 'python':
    if i == 'h':
        pass
    print(i)

p
y
t
h
o
n

In [33]:
n = int(input("Enter the number of terms: "))
a = 1
b = 1
print("Fibonacci Seies: ", a, b, end = " ")

for _ in range(n - 2):
    c = a + b 
    print(c, end = " ")
    a = b 
    b = c

Fibonacci Seies:  1 1 2 3 5 8 13 21 34 55

In [37]:
#Functions   

def add():
    print("Hello!")

In [38]:
def add():
    print("Hello!")
add()

Hello!

In [39]:
def add(a, b):
    print(a+b)

In [42]:
# user defined functions types: with parameter, without return type
def add(a, b):
    print(a+b)
add(2,4)                    #parameter(arguements)

6

In [ ]:
# without parameter, without return type
def add():
    a = 10
    b = 6
    print(a+b)

add()

16

In [ ]:
#with parameter, with return type

def add(a, b):
    return a + b  #return the value to the calling statement
s = add(4,6)
s

10

In [44]:
# without parameter, with return type

def add():
    a = 5
    b = 8
    return a + b 
s = add()
s

13

In [20]:
#built-in function with arguement - 95% with parameter, with return type

from test_a import add
from test_b import sub

val_add = add(12,21)
val_sub = sub(20,20)

print(val_add)
print(val_sub)

33
0

In [80]:
def si(p,r,t):
    print((p*r*t)/100)
si(5000,25,2)

2500.0

In [13]:
def si():
    p = 5000
    r = 25
    t = 2
    print((p*r*t)/100)
si()

2500.0

In [14]:
def si():
    p = 5000
    r = 25
    t = 2
    return ((p*r*t)/100)
s = si()
s

2500.0

In [19]:
from test_si import si

val_si = si(5000,25,2)

print(val_si)

2500.0

In [30]:
li = [12, 21, 42, 24, 48, 84]
target = 111

def countfunc(li, target):
    count = 0
    for i in li:

        if target == i:
            count += 1
        else:
           continue
    return count

print(countfunc(li, target))

0

In [ ]:
#avg

def avg(x,y,z):
    print(())

In [32]:
#Types of arguements

#positional

def func(a,b):
    print(a%b)
func(5,2)

1

In [38]:
#default

def data(name = 'Gauri'):
    print(name)
data()

Gauri

In [39]:
def data(name = 'Gauri'):
    print(name)
data('Jindal')

Jindal

In [41]:
def data(name,age):
    print(f'Hello! My name is {name}. I am {age} years old.')
data('Gauri', 23)

Hello! My name is Gauri. I am 23 years old.

In [43]:
def data(name,age):
    print(f'Hello! My name is {name}. I am {age} years old.')
data(23, 'Gauri')

Hello! My name is 23. I am Gauri years old.

In [42]:
def data(name,age):
    print(f'Hello! My name is {name}. I am {age} years old.')
data(age = 23, name = 'Gauri')

Hello! My name is Gauri. I am 23 years old.

In [56]:
print(5869,25,58, end = "!", sep = ",") #keyword arguements

5869,25,58!

In [58]:
#Variable length arguements
def fun(a,b):
    print(a)
fun(2,3)

2

In [59]:
def fun(*a):
    print(a)
fun(2,3,4,5)

(2, 3, 4, 5)

In [61]:
def fun(name,*a):
    print(name,a)
fun('Gauri', 2,3,4,5)

Gauri (2, 3, 4, 5)

In [67]:
def fun(name,*a):
    print(name)
    print(a)
fun('Gauri', 2,3,4,5)

Gauri
(2, 3, 4, 5)

In [68]:
def fun(name,*a):
    print(name)
    print(a)
fun('q')

q
()

In [69]:
#Variable length keyword arguement

def func(name, **a):
    print(name)
    print(a)

func('q', na = 'ABC', age = 23)

q
{'na': 'ABC', 'age': 23}

In [71]:
#docstring
def addition(a,b):
    """This function takes two values and adds."""
    return a+b 
addition(30,15)

45

In [72]:
help(addition)

Help on function addition in module __main__:

addition(a, b)
    This function takes two values and adds.

In [73]:
help(func)

Help on function func in module __main__:

func(name, **a)

In [74]:
addition.__doc__

'This function takes two values and adds.'

In [ ]:
#function annotations
def data(a:int, b:str)->str: # type: ignore
    """This function takes an int and a string and returns a format string"""
    return f'Integer = {a}, String = {b}'

print(data(25,'Silver'))

Integer = 25, String = Silver

In [76]:
help(data)

Help on function data in module __main__:

data(a: int, b: str) -> str
    This function takes an int and a string and returns a format string

In [77]:
data.__doc__

'This function takes an int and a string and returns a format string'

In [81]:
data.__annotations__

{'a': int, 'b': str, 'return': str}

In [82]:
#pascal triangle
[1]
[1, 1]
[1, 2, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

array1 = [11, 10, 22, 20, 35, 67]
array2 = [22, 30, 35, 11]

out = [22, 35, 11] #without using set intersection

In [6]:
#without using set intersection
array1 = [11, 10, 22, 20, 35, 67]
array2 = [22, 30, 35, 11]
result=[]
def fun(arr1,arr2):
    for i in arr1:
        for j in arr2:
            if i==j:
                result.append(i)
    return result
print(fun(array1,array2))

[11, 22, 35]

In [102]:
#pascal triangle

def generate_pascals_triangle(n):
    triangle = []
    for i in range(n):
        row = [1] * (i + 1)
        for j in range(1, i):
            row[j] = triangle[i - 1][j - 1] + triangle[i - 1][j]
        triangle.append(row)
    return triangle

def print_pascals_triangle(triangle):
    for row in triangle:
        print(' '.join(map(str, row)))

n = int(input())
triangle = generate_pascals_triangle(n)
print_pascals_triangle(triangle)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
1 7 21 35 35 21 7 1
1 8 28 56 70 56 28 8 1
1 9 36 84 126 126 84 36 9 1

In [8]:
n=25
id(n)

140708811513016

In [9]:
#Scope

x = 10
x = 20
x

20

In [10]:
x = 10
x = 20
x = 30
x

30

In [ ]:
x = 20

def num():
    x = 10  #Local Variable
    print(x, 'inside func')

num()
print(x, 'out func')

10 inside func
20 oyt func

In [13]:
x = 20

def num():
    #x = 10  #Local Variable
    global x
    x += 30
    print(x, 'inside func')

num()
print(x, 'out func')

50 inside func
50 out func

In [ ]:
x = 20

def num():
    x = 10  #Local Variable
    print(x, 'inside func')

num()
x += 30
print(x, 'out func')

In [15]:
#random() Generates a random float number between 0 to 1. The function doen't need any arguements.

import random
random.random()

0.5438425917541366

In [16]:
#randint(): Returns a random integer between the specified integers.

random.randint(1, 100)

78

In [2]:
#randrange(): Returns a randomly selected element from the range created by the start, stop and step arguements. 
# The value of the start is 0 by default. IIly the value of step is 1 by default.

import random
random.randrange(0, 100, 3)

87

In [ ]:
# Rock, Paper, Scissors

import random

def get_computer_choice():
    choices = ['rock', 'paper', 'scissors']
    return random.choice(choices)

def get_winner(player, computer):
    if player == computer:
        return "It's a tie!"
    elif (player == 'rock' and computer == 'scissors') or \
         (player == 'scissors' and computer == 'paper') or \
         (player == 'paper' and computer == 'rock'):
        return "You win!"
    else:
        return "Computer wins!"

def play_game():
    player_choice = input("Enter your choice (rock, paper, or scissors): ").lower()
    computer_choice = get_computer_choice()
    print(f"Computer chose: {computer_choice}")
    result = get_winner(player_choice, computer_choice)
    print(result)

play_game()

Computer chose: paper
Computer wins!

In [84]:
#Password Generator

import random
import string

def generate_password(length=12):
    characters = string.ascii_letters + string.digits + string.punctuation
    password = ''.join(random.choice(characters) for _ in range(length))
    return password

print(generate_password(12))  # Generates a 12-character password

X@1cEMlY<XIe

In [86]:
#Number Guessing Game

import random

def number_guessing_game():
    number_to_guess = random.randint(1, 100)
    attempts = 0
    max_attempts = 5
    score = 0

    print("Welcome to the Number Guessing Game!")
    print("I'm thinking of a number between 1 and 100.")
    print(f"You have {max_attempts} attempts to guess the number.")

    while attempts < max_attempts:
        guess = input("Take a guess: ")
        attempts += 1

        try:
            guess = int(guess)
        except ValueError:
            print("Please enter a valid number.")
            continue

        if guess < number_to_guess:
            print("Too low!")
        elif guess > number_to_guess:
            print("Too high!")
        else:
            print(f"Congratulations! You guessed the number in {attempts} attempts.")
            score = max_attempts - attempts + 1
            print(f"Your score is: {score}")
            break
    else:
        print(f"Sorry, you've used all {max_attempts} attempts. The number was {number_to_guess}. Better luck next time!")

number_guessing_game()

Welcome to the Number Guessing Game!
I'm thinking of a number between 1 and 100.
You have 5 attempts to guess the number.
Too high!
Too high!
Too high!
Too high!
Too low!
Sorry, you've used all 5 attempts. The number was 9. Better luck next time!

In [ ]:
#Word Guessing Game

import random

def shuffle_word(word):
    word = list(word)
    random.shuffle(word)
    return ''.join(word)

def word_guessing_game(words):
    score = 0
    for word in words:
        shuffled_word = shuffle_word(word)
        print(f"Guess the word: {shuffled_word}")
        attempts = 0
        guessed_correctly = False

        while attempts < 3:
            guess = input(f"Attempt {attempts + 1}: ").strip().lower()
            attempts += 1

            if guess == word:
                print("Correct!")
                score += 5
                guessed_correctly = True
                break
            else:
                print("Incorrect!")

        if not guessed_correctly:
            print(f"Sorry, the correct word was: {word}")
            score -= 10

    print(f"Game over! Your final score is: {score}")

words = ["python", "algorithm", "function", "variable", "loop"]

word_guessing_game(words)

<!-- # PYTHON DAY 4 -->

# PYTHON DAY 4

In [ ]:
#Recursion ---> Function calls itself

def FunctionThree():
    print("Three")

def FunctionTwo():
    FunctionThree()
    print("Two")

def FunctionOne():
    FunctionTwo()
    print("One")

FunctionOne()

Three
Two
One

In [ ]:
#Recursion ---> Function calls itself

def FunctionThree():
    print("Three")

def FunctionTwo():
    FunctionThree()
    print("Two")

def FunctionOne():
    FunctionTwo()
    print("One")

print(FunctionOne())      # ---> Gives None as it's not returning anything.

Three
Two
One
None

In [ ]:
def FunctionThree():
    print("Three")

def FunctionTwo():
    FunctionThree()
    print("Two")

def FunctionOne():
    FunctionTwo()
    print("One")
    return 0

print(FunctionOne()) # ---> Now it's returning 0 as it's passed inside the block.

Three
Two
One
0

In [9]:
def factorial(n):
    if n == 1:
        return 1
    return n * (factorial(n - 1))

print(factorial(5))

120

In [11]:
def list_sum(num_List):
    if len(num_List) == 1:
        return num_List[0]
    else:
        return num_List[0] + list_sum(num_List[1:])
    
print(list_sum([2, 4, 5, 6, 7]))

24

In [ ]:
#Fibonacci Using Recursion

def fibonacci(n):
     if n <= 0:
          return 0
     elif n == 1:
          return 1
     else:
          return(fibonacci(n - 1)) + fibonacci(n - 2)
     
terms = int(input("Enter the number of terms: "))
for i in range(terms):
    print(fibonacci(i), end = " ")

0 1 1 2 3 5 8 13 21 34

In [ ]:
#count the digits of the number
def digits(n):
    if len(str(n))==1:
        return 1
    else:
        return 1 + digits(n//10)

#print(digits(265473))
num = int(input())
print(digits(num))

6

In [ ]:
#Reverse a string using recursion
def revstr(strg):
    if len(strg) <= 1:
        return strg
    else:
        return revstr(strg[1:])+strg[0]
print(revstr('gauri'))

iruag

In [58]:
#First class function

def square(num):
    return num*num
f = square
print(f)

<function square at 0x00000166A9C80040>

In [62]:
f(25)

625

In [64]:
def cube(numb):
    return numb*numb*numb
print(cube)

<function cube at 0x00000166A9C81580>

In [61]:
cube(8)

512

In [65]:
def my_map(func, arr):
    result = []
    for i in arr:
        result.append(func(i))
    return result

squares = my_map(square, [1, 2, 3, 4, 5])
print(squares)

[1, 4, 9, 16, 25]

In [67]:
def my_map(func, arr):
    result = []
    for i in arr:
        result.append(func(i))
    return result

squares = my_map(f, [1, 2, 3, 4, 5])
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#Nested Function

def logger(msg):
    def log_message():
        print('Log:', msg)
    return log_message
log_hi = logger('Hi')
log_hi()

Log: Hi

In [5]:
def logger(msg):
    def log_message(name):
        print('Log:', msg, 'from: ', name)
    return log_message

log_hi = logger('Hi')
log_hi('ABC')

Log: Hi from:  ABC

In [6]:
log_welcome = logger('Welcome')
log_welcome('xyz')

log_hi('ram')

Log: Welcome from:  xyz
Log: Hi from:  ram

In [6]:
#Create a closure to add a fixed number

# add5= adder(5)
# add5(100)

def add5(fixed):
    def adder(num):
        return fixed+num
    return adder

res = add5(15)
print(res(10))

25

In [9]:
# flatten a list ---> [1,[2,[3,4]],5] ---> [1,2,3,4,5]
# li = [1,[2,[3,4]],5]

def flatten(li):
    ans = []
    for i in li:
        if isinstance(i, list):
            ans.extend(flatten(i))
        else:
            ans.append(i)
    return ans

li = [1,[2,[3,4]],5]
print(flatten(li))

[1, 2, 3, 4, 5]

In [72]:
# def check(l):
#     res = []
#     for i in l:
#         if type(l[i]) == int:
#             res.append(l[i])
#         else:
#             check(l[i])
#     return res

# l = [1,[2,[3,4]],5]

# print(check(l))

def check(l):
    res = []
    for i in l:
        if isinstance(i, int):
            res.append(i)
        elif isinstance(i, list):
            res.extend(check(i))
    return res

l = [1, [2, [3, 4]], 5]
print(check(l))  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [45]:
def print_substrings(s, start = 0, current = ""):
    if start == len(s):  #base case: if start index goes beyond the string length
        return 
    
    if current == "":
        current = s[start]

    print(current)

    if start + len(current) < len(s):
        print_substrings(s, start, current + s[start + len(current)])    #expand the current substring
    else:
        print_substrings(s, start + 1)    #move to the next starting character

print_substrings("bsdk")

b
bs
bsd
bsdk
s
sd
sdk
d
dk
k

In [74]:
#calculate the average of the given arguements using *args
# def avg(*args):
#     if not args:
#         return 0
#     return sum(args)/len(args)
# print(avg(5, 10, 15, 20))

def average(*args):
    if args:
        return sum(args) / len(args) 
    else:
        0

print(average(1, 2, 3, 4, 5))

3.0

In [75]:
#max and min of the given arguements using *args

def max_min(*args):
    return max(args), min(args)

print(max_min(1, 2, 3, 4, 5))

(5, 1)

In [76]:
#check the arguements using **kwargs
#required(name = abc, email = a@b, dob = 1/11/1111) #All fields are present
#required(name = abc, dob = 1/11/1111) #Missing required fields

def required(**kwargs):
    required_fields = ['name', 'email', 'dob']
    missing_fields = [field for field in required_fields if field not in kwargs]
    if missing_fields:
        return f"Missing required fields: {', '.join(missing_fields)}"
    return "All fields are present"

print(required(name='abc', email='a@b', dob='1/11/1111'))  # Output: All fields are present
print(required(name='abc', dob='1/11/1111'))  # Output: Missing required fields: email

All fields are present
Missing required fields: email

In [77]:
#bill(100, tax=5, tip=10)

def bill(amount, tax=0, tip=0):
    total = amount + (amount * tax / 100) + (amount * tip / 100)
    return total

print(bill(100, tax=5, tip=10))

115.0

In [78]:
#create a closure to generate odd numbers

# odd = calculate()
# print(odd()) #3
# print(odd()) #5
# print(odd()) #7

# odd2 = calculate()
# print(odd2()) #3

def odd_number_generator():
    number = 1
    def next_odd():
        nonlocal number
        current = number
        number += 2
        return current
    return next_odd

odd_gen = odd_number_generator()
print(odd_gen())  # Output: 1
print(odd_gen())  # Output: 3
print(odd_gen())  # Output: 5

1
3
5

# PYTHON DAY 5

In [6]:
#SCOPE INSIDE A NESTED FUNCTION

def data():
    color = 'Green'
    def fly():
        #print(color)
        nonlocal color
        color = 'Red'
    fly()
data()

In [ ]:

name = 'Dave'
count = 1

def another():
    color = 'blue'
    global count
    count += 1
    print(count)

    def greeting(name):
        nonlocal color
        color = 'red'
        print(color)
        print(name)

    greeting("Dave")
another()

2
red
Dave

In [3]:
#Iterables
#List
#String
#Dictionary

In [4]:
for i in [1,2,3]:
    print(i)

1
2
3

In [5]:
#iterator
#iter()
iter([1,2,3])

In [6]:
#Iterables
my_list='hello'
#iterator
my_it = iter(my_list)

In [8]:
#next()
next(my_it)

'h'

In [9]:
#unpack with(*)
my_list = 'hello'

my_it = iter(my_list)

print(*my_it)

h e l l o

In [10]:
#Can't unpack multiple items
print(*my_it)

In [11]:
#unpack with list
my_list = 'hello'

my_it = iter(my_list)
list(my_it)

['h', 'e', 'l', 'l', 'o']

In [12]:
#enumerate()

ls = ['a', 'b', 'c']

for i, v in enumerate(ls):
    print(i,v)

0 a
1 b
2 c

In [14]:
next(enumerate(ls))
next(enumerate(ls))

(0, 'a')

In [15]:
list(enumerate(ls))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [17]:
list(enumerate(ls, start=1))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [18]:
list(enumerate(ls, start=3))

[(3, 'a'), (4, 'b'), (5, 'c')]

In [44]:
#generators
#generators are used to create iterators and they are memory efficient
#yield
def simple_gen():
    yield 1
    yield 2
    yield 3
    # return 1
    # return 2
    # return 3
gen = simple_gen()
print(gen)
for i in gen:
    print(i)

<generator object simple_gen at 0x000001B6449EEE50>
1
2
3

In [2]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [48]:
next(gen)

3

In [32]:
def infinite():
    num = 0
    while True:
        yield num
        num += 1
gen = infinite()
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

0
1
2
3
4
5

In [ ]:
# ls = [x for x in range(10**9)]  ----> do not run this code as it gives millions of values.
# ls[0]

In [ ]:
gen = (x for x in range(10**9)) #generator without yield
print(next(gen))
print(next(gen))

0
1

In [ ]:
#Generate numbers from 1 to N
# Task: Write a generator function that yields numbers from 1 to n.

# def func(k):
#     n=1
#     while n<=k:
#         yield  n
#         n += 1
# k= int(input())
# p=func(k)
# for i in range(k):
#     print(next(p))

def generate_numbers(n):
    for i in range(1, n + 1):
        yield i

for number in generate_numbers(21):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [130]:
#Fibonacci sequence generator
# Task: Write a generator to yield first n fibonacci numbers.

def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

for number in fibonacci(int(input())):
    print(number)

0
1
1
2
3
5
8

In [ ]:
#Even numbers from a list
#Task: Yield only even numbers from a list.

def even_numbers(lst):
    for number in lst:
        if number % 2 == 0:
            yield number

for number in even_numbers([1, 2, 3, 4, 5, 6]):
    print(number)

2
4
6

In [ ]:
#Infinite odd number generatior
#Task: Create a generator that yields odd numbers infinitely starting from 1.

def infinite_odd_numbers():
    number = 1
    while True:
        yield number
        number += 2

odd_gen = infinite_odd_numbers()
for _ in range(5):
    print(next(odd_gen))

1
3
5
7
9

In [63]:
#Custom range generator (like built-in range).

def custom_range(start, stop, step=1):
    current = start
    while current < stop:
        yield current
        current += step

for number in custom_range(1, 10, 2):
    print(number)

1
3
5
7
9

In [64]:
#Running Average generator
#Task: Create a generator to yield the average after each number added.

def running_average():
    total, count = 0, 0
    while True:
        number = yield
        total += number
        count += 1
        yield total / count

avg_gen = running_average()
next(avg_gen)  # Prime the generator
print(avg_gen.send(10))  # Output: 10.0
print(avg_gen.send(20))  # Output: 15.0
print(avg_gen.send(30))  # Output: 20.0

10.0
None
20.0

In [18]:
#Decorators
def deco(func):
    def wrapper():
        print('Before Hi!')
        func()
        print('After Hi!')
        func()
    return wrapper

@deco
def hi():
    print('Hello')

hi()

Before Hi!
Hello
After Hi!
Hello

In [20]:
deco(func(hi))

In [25]:
def decorator_function(original_function):
    def wrapper_function():
        print('wrapper executed this before ', original_function.__name__)
        return original_function()
    return wrapper_function

# @decorator_function
def display():
    print('display function ran')

decorated_display = decorator_function(display)
decorated_display()

wrapper executed this before  display
display function ran

In [132]:
def decorator_function(original_function):
    def wrapper_function():
        print('wrapper executed this before {} '.format(original_function.__name__))
        return original_function()
    return wrapper_function

#@decorator_function
def display():
    print('display function ran')

decorated_display = decorator_function(display)
decorated_display()

wrapper executed this before display
display function ran

In [ ]:
def count_calls(func):
    def wrapper(*args, **kwargs):
        wrapper.count += 1
        return func(*args, **kwargs)
    wrapper.count = 0
    return wrapper

@count_calls
def example_function():
    """This is an example function."""
    print("Function Executed")

example_function()
example_function()
example_function()

print(f"The function 'example_function' was called {example_function.count} times.")

Function Executed
Function Executed
Function Executed
The function 'example_function' was called 3 times.

In [36]:
def uppercase_decorator(func):
    def wrapper(*args, **kwargs):
        result = func(*args, **kwargs)
        if isinstance(result, str):
            return result.upper()
        return result
    return wrapper

@uppercase_decorator
def get_string():
    return "Hello World"

@uppercase_decorator
def get_number():
    return 123

print(get_string())
print(get_number())

HELLO WORLD
123

In [42]:
#Code for testing decorator chaining

def decor1(func):
    def inner():
        x = func()
        return x * x
    return inner

def decor(func):
    def inner():
        x = func()
        return 2 * x
    return inner

@decor1
@decor
def num():
    return 10

print(num())

400

In [43]:
@decor
@decor1
def num():
    return 10

print(num())

200

In [44]:
def type_check_decorator(expected_type):
    def decorator(func):
        def wrapper(arg):
            if not isinstance(arg, expected_type):
                raise TypeError(f"Expected {expected_type}, got {type(arg)}")
            return func(arg)
        return wrapper
    return decorator

In [47]:
@type_check_decorator(int)
def square(n):
    return n*n

@type_check_decorator(str)
def shout(text):
    return text.upper()

#Valid Calls
print(square(5))
print(shout("Hello"))

25
HELLO

In [88]:
#Invalid Call - will raise TypeError
# print(square("456"))    #Raises TypeError

In [54]:
#Double the value.
#Task is using decorator double the value.

def double_value(func):
    def wrapper(*args, **kwargs):
        result = func(*args, **kwargs)
        return result * 2
    return wrapper

@double_value
def get_number():
    return 10

print(get_number())  # Output will be 20

20

In [3]:
#Using decorator add a line before and after a function output.

def add_lines(func):
    def wrapper(*args, **kwargs):
        print("============================")
        result = func(*args, **kwargs)
        print("============================")
        return result
    return wrapper

@add_lines
def my_function():
    print("This is the function output.")

my_function()

============================
This is the function output.
============================

In [ ]:
#Lambda / Anonymous function / single line function / function with no name.

a = lambda a, b: a*b 

a(2,4)

8

In [71]:
b = lambda x:x % 2 == 0

b(21)

False

In [93]:
#Reverse a string using Lambda.

s = lambda d:d[::-1]
s("gauri")

'iruag'

In [94]:
#Maximum of two numbers using lambda.

a = lambda a, b:max(a,b)
a(89,21)

89

In [ ]:
#Max of three numbers using lambda.

# a = lambda a, b, c:max(a,b,c)
# a(10,15,25)

max_of_three = lambda a, b, c: a if (a >= b and a >= c) else (b if b >= c else c)
max_of_three(15, 89, 105)

105

In [116]:
#Using lambda even or odd.
#Task: the function should return 'even' for even value and 'odd for odd value.

even_or_odd = lambda x: 'even' if x % 2 == 0 else 'odd'

even_or_odd(90)
even_or_odd(45)

'odd'

In [120]:
#Sort a dictionary using Lambda. (Sorted method)  ----> Read documentations of sort and sorted.

#Sorting by Keys

my_dict = {'cherry': 3, 'dragon fruit': 1, 'apple': 2}
sorted_by_keys = dict(sorted(my_dict.items(), key=lambda item: item[0]))

print("Sorted by keys:", sorted_by_keys)

Sorted by keys: {'apple': 2, 'cherry': 3, 'dragon fruit': 1}

In [121]:
#Sorting by values

sorted_by_values = dict(sorted(my_dict.items(), key=lambda item: item[1]))

print("Sorted by values:", sorted_by_values)

Sorted by values: {'dragon fruit': 1, 'apple': 2, 'cherry': 3}

In [122]:
#Sort a list using Sorted() and lambda
#Task: input = ['abc', 'ab', 'a', 'aaaa']
# Output = ['a', 'ab', 'abc', 'aaaa']

input_list = ['abc', 'ab', 'a', 'aaaa']
sorted_list = sorted(input_list, key=lambda x: len(x))

print(sorted_list)

['a', 'ab', 'abc', 'aaaa']

####################################################################################################

In [5]:
for x in range(10, 0, -1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [6]:
for x in range(5):
    for y in range(3):
        print(x, y)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [7]:
a = [1, 2, 3, 4, 5]
sum = 0
for ele in a:
   sum += ele 
print(sum)

15

In [8]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[2, 4, 7, 19, 22, 45, 72, 89]

In [10]:
def thrive(n):
 if n % 15 == 0:
   print("thrive", end = " ")
 elif n % 3 != 0 and n % 5 != 0:
   print("neither", end = " ")
 elif n % 3 == 0:
   print("three", end = " ")
 elif n % 5 == 0:
   print("five", end = " ")
thrive(35)
thrive(56)
thrive(15)
thrive(39)

five neither thrive three

In [11]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
print(type(even_numbers))

<class 'filter'>

In [12]:
dict1 = {'first' : 'sunday', 'second' : 'monday'}
dict2 = {1: 3, 2: 4}
dict1.update(dict2)
print(dict1)

{'first': 'sunday', 'second': 'monday', 1: 3, 2: 4}

In [13]:
s = {1, 2, 3, 3, 2, 4, 5, 5}
print(s)

{1, 2, 3, 4, 5}

In [18]:
a = {'Hello':'World', 'First': 1}
b = {val: k for k , val in a.items()}
print(b)
print(a.items())
print(a.keys())
print(a.values())

{'World': 'Hello', 1: 'First'}
dict_items([('Hello', 'World'), ('First', 1)])
dict_keys(['Hello', 'First'])
dict_values(['World', 1])

In [20]:
for i in range(5):
    print(i)

0
1
2
3
4

In [21]:
from math import *
a = 2.19
b = 3.999999
c = -3.30
print(int(a), floor(b), ceil(c), fabs(c))

2 3 -3 3.3

In [23]:
set1 = {1, 3, 5}
set2 = {2, 4, 6}
# print(len(set1 + set2))

In [26]:
s1 = {1, 2, 3, 4, 5}
s2 = {2, 4, 6}
print(s1 ^ s2)

{1, 3, 5, 6}

In [28]:
a = [[], "abc", [0], 1, 0]
print(list(filter(bool, a)))

['abc', [0], 1]

In [29]:
def solve(a, b):
   return b if a == 0 else solve(b % a, a)
print(solve(20, 50))

10

In [30]:
def solve(a):
   a = [1, 3, 5]
a = [2, 4, 6]
print(a)
solve(a)
print(a)

[2, 4, 6]
[2, 4, 6]

In [33]:
x = [1, 2, 3];
print(x)

[1, 2, 3]

In [34]:
user_input = input("Enter a number: ");
print("You entered: ", int(user_input))

You entered:  59

In [49]:
list1 = [1, -2, 3]
# r = [[i+j for i in list2] for j in list1]
r

[[], [], []]

In [48]:
x = [i for i in 'ABCDEFG' if i not in 'AEIOUaeiou']
print(x)

['B', 'C', 'D', 'F', 'G']

In [53]:
x = 10
if x > 5:
    print(bool(1))
else:
    print(bool(0))

True

In [54]:
y = [i//4 for i in range(5)]
y

[0, 0, 0, 0, 1]

In [57]:
if x > 5:
    print("Yes")
elif x < 10:
    print("No")

Yes

In [60]:
for i in range(3):
    print(i)

0
1
2

In [61]:
x = 4+3 and 6 or 4>5 + 2
x

6

In [62]:
for x in [1, 2, 3]:
    print(x)

1
2
3

In [63]:
for i in range(0, 4):
    if(i%2 == 0):
        print("Python")

Python
Python

In [86]:
x = False
y = True
#print(x)
print(x|y)

True

In [75]:
print(6+4!=~4+15)
p = 6+4!=~4+15
print(type(p))

False
<class 'bool'>

In [91]:
x = (6 > 7 < 3 + 3)
x

False

In [88]:
y = (6 > False)
y

True

In [89]:
y = (False < 6)
y

True

In [92]:
while True:
    print("Looping");
    break

Looping

In [99]:
l1 = [2, 4, 6]
l2 = [2, 4, 67]
# l1 + l2
l1.append(l2)
l1

[2, 4, 6, [2, 4, 67]]

In [101]:
a = 1245
# a.isdigit()